<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [suggestions]="arregloPremiosAnio"
      [(ngModel)]="premioAnioSeleccionada"
      (completeMethod)="filtrarPremio($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el año"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarPremioAnioSeleccionada($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarPremioAnio()"
      [multiple]="multiple"
      [disabled]="deshabilitar"
      field="anio">
      <ng-template let-categoria pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <div style="float:left;margin:10px 10px 0 0">{{categoria.anio}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{ multiple ? "Selecione el año"  : 'Filtre por año'}}
    </small>
  </div>

</div>
