<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [suggestions]="arregloPremios"
      [(ngModel)]="premioSeleccionado"
      (completeMethod)="filtrarPremios($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el premio/evento"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarPremioSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarPremio()"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-premio pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <img
            class="img thumb1"
            style="width:35px; display:inline-block; margin:5px 0 2px 5px"
            [src]="obtenerUrlPrincipal(premio)"/>
          <div style="float:right;margin:10px 10px 0 0">{{premio.nombre}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por tipo'}}
    </small>
  </div>

</div>
