<form
  [formGroup]="formularioVideo"
>
  <div class="row">
    <div class="col-sm-5">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="enlace" class="p-col-fixed">Enlace *: </label>
          <div class="p-col-12 p-md-12">
            <input
              id="enlace"
              pInputText
              type="text"
              formControlName="enlace"
              placeholder="Ingrese el enlace del video"/>
            <br>
            <br>
            <div class="p-col-12 p-md-12">
              <app-alerta-validacion-campo-formulario
                [mensajesError]="mensajesError.enlace">
              </app-alerta-validacion-campo-formulario>
            </div>
            <iframe
              *ngIf="formularioVideo && formularioVideo.get('enlace').value"
              [src]=' formularioVideo.get("enlace").value.trim() | safe'
              style="width: 100%; height: 100%"
              allowtransparency="true"
              allow="encrypted-media">
            </iframe>

          </div>

        </div>
      </div>

    </div>
    <div class="col-sm-7">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del video"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="fechaLanzamiento" class="p-col-fixed">Fecha de lanzamiento *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaLanzamiento"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de lanzamiento"
              formControlName='fechaLanzamiento'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaLanzamiento">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="duracionSegundos" class="p-col-fixed">Duración(min) *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="duracionSegundos"
              pInputText
              type="text"
              formControlName='duracionSegundos'
              placeholder="Ingrese la duración del video en segundos"
              [textMask]="{mask: mask}"
            >
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.duracionSegundos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="tipo" class="p-col-fixed">Tipo *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-tipo-video
              id="tipo"
              [deshabilitar]="formularioVideo.disabled"
              [idTipoVideo]="idTipoVideo"
              (emitirTipoVideoSeleccionado)="escucharTipoVideoSeleccionado($event)"
            ></app-autocomplete-tipo-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tipoVideo">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [idCancion]="video ? video.cancion.id : null"
              [idsArtistas]="idsArtistas"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción</label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción del video"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
