<form
  [formGroup]="formularioChartPosicion"
>
  <div class="row">
    <div
      class="col-sm-12">
      <div class="ui-fluid">

        <div
          *ngIf="tipo === 'cancion'"
          class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [arregloidsCancionesSeleccionadas]="idsCancionesAlbumesVideos"
              [idCancion]="chartPosicion ? chartPosicion.cancion.id : null"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'album'"
          class="p-field p-grid">
          <label for="albums" class="p-col-fixed">Album</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [arregloIdsAlbumsSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="albums"
              [idAlbum]="chartPosicion ? chartPosicion.album.id : null"
              (emitirAlbumSeleccionado)="setearAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.album">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'video'"
          class="p-field p-grid">
          <label for="video" class="p-col-fixed">Video:</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-video
              [arregloIdsVideosSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="video"
              [idVideo]="chartPosicion ? chartPosicion.video.id : null"
              (emitirVideoSeleccionado)="setearVideo($event)"
            ></app-autocomplete-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.video">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>


    <div class="col-sm-12">
      <div class="ui-fluid">


        <div class="p-field p-grid">
          <label for="posicion" class="p-col-fixed">Posicion *:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="posicion"
              [step]="1"
              [useGrouping]="false"
              formControlName='posicion'
              [placeholder]="'Ingrese la posición ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.posicion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fecha" class="p-col-fixed">Fecha:</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fecha"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              [placeholder]="'Ingrese la fecha ' + placeHolderTipo"
              formControlName='fecha'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fecha">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


      </div>
    </div>

    <div class="col-sm-12">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="competencia" class="p-col-fixed">Competencia </label>
          <div class="p-col-12 p-md-12">
                    <textarea
                      id="competencia"
                      [rows]="5"
                      [cols]="30"
                      pInputTextarea
                      formControlName="competencia"
                      [placeholder]="'Ingrese la competencia' + placeHolderTipo"
                    ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.competencia">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="observaciones" class="p-col-fixed">Observaciones </label>
          <div class="p-col-12 p-md-12">
                    <textarea
                      id="observaciones"
                      [rows]="5"
                      [cols]="30"
                      pInputTextarea
                      formControlName="observaciones"
                      [placeholder]="'Ingrese las observaciones' + placeHolderTipo"
                    ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.observaciones">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>


  </div>
</form>
