<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        <span>{{ ('Premios y Nominaciones: ' + setearObj()) | uppercase}}</span>
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row" style="padding-left: 2%; padding-right: 2%">
  <div >
    <app-autocomplete-premio
      [idPremio]="idPremio"
      [esPremio]="1"
      (emitirPremioSeleccionado)="buscarNominacionesPorPremio($event)"
    ></app-autocomplete-premio>
  </div>
  <div
    *ngIf="idPremio">
    <div class="col-sm-12">
      <app-autocomplete-premio-anio
        [multiple]="false"
        [idPremio]="idPremio"
        [idPremioAnio]="idPremioAnio"
        (emitirPremioAnioSeleccionada)="buscarNominacionesPorPremioAnio($event)"
      ></app-autocomplete-premio-anio>
    </div>
  </div>
  <div
    *ngIf="idPremio">
    <div class="col-sm-12">
      <app-autocomplete-categoria
        [idPremio]="idPremio"
        [idCategoria]="idCategoria"
        [tipo]="setearTipo()"
        [multiple]="false"
        (emitirCategoriaSeleccionada)="buscarNominacionesPorCategoria($event)"
      ></app-autocomplete-categoria>
    </div>
  </div>
  <div class="col-sm-2">
    <app-boton-nuevo
      (click)="abrirModalCrearEditarNominacion()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [columns]="columnas"
      [value]="nominaciones"
      styleClass="ui-table-customers"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td *ngIf="rowGroupMetadataPremio[rowData.premioAnio?.premio?.id]?.index === index"
              [attr.rowspan]="rowGroupMetadataPremio[rowData.premioAnio?.premio?.id]?.size">
            {{rowData.premioAnio?.premio?.nombre}}
          </td>
          <td *ngIf="rowGroupMetadataPremioAnio[rowData.premioAnio?.id]?.index === index"
              [attr.rowspan]="rowGroupMetadataPremioAnio[rowData.premioAnio?.id]?.size">
            {{rowData.premioAnio?.anio}}
          </td>
          <td>
            {{rowData.categoria?.nombre}}
          </td>
          <td>
            <li *ngFor="let nominacion of rowData.nominacionesCategoria">
              {{setearNominacion(nominacion)}}
            </li>
          </td>
          <td>
            <div *ngFor="let nominacion of rowData.nominacionesCategoria">
              <li *ngIf="nominacion.siGano">
                {{setearNominacion(nominacion)}}
              </li>
            </div>
          </td>
          <td>
            <button
              (click)="abrirModalCrearEditarNominacion(rowData)"
              class="btn btn-primary">
              <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
            </button>
            <button
              (click)="abrirModalSeleccionarGanador(rowData)"
              class="btn btn-primary">
              <i style="padding-right: 0%" class="fas fa-award"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
