<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">{{data.chart ? 'Editar' : 'Registrar'}} Chart</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios.'}}</p>
    </div>
    <div class="col-sm-12">
      <app-formulario-chart
        [chart]="data.chart"
        (chartValidoEnviar)="validarFormularioChart($event)">
      </app-formulario-chart>
    </div>
  </div>
</div>

<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-3">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioValido"
          (emitirEvento)="crearEditarChart()">
        </app-boton-guardar>
      </div>
      <div class="p-3">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
