<form
  [formGroup]="formularioSetlist"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">


        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaInicio" class="p-col-fixed">Fecha Inicio*</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaInicio"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de inicio"
              formControlName='fechaInicio'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaInicio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaFin" class="p-col-fixed">Fecha Fin*</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaFin"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de inicio"
              formControlName='fechaFin'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaFin">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="tieneActos" class="p-col-fixed">Tiene Actos *</label>
          <div class="p-col-12 p-md-12">
            <p-dropdown
              id = "tieneActos"
              [options]="tieneActos"
              [placeholder]="'Indique si el setlist tiene actos' "
              [showClear]="true"
              formControlName="tieneActos"
            ></p-dropdown>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tieneActos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
