<div class="row">
  <div class="col-lg-12">
    <p-dropdown
      [options]="tiposChart"
      [(ngModel)]="tipoChartSeleccionado"
      placeholder="Seleccione un tipo de chart"
      [showClear]="true"
      (onChange)="enviarTipoChartSeleccionado($event)"
    ></p-dropdown>
  </div>
  <div class="col-lg-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por tipo'}}
    </small>
  </div>
</div>
