<div class="p-field p-grid">
  <p-scrollPanel [style]="{width: '100%', height: height}">

    <label for="imagen" class="p-col-fixed">Imagen *</label>
    <div class="p-col-12 p-md-12">
      <input
        *ngIf="!ocultarInput"
        id="imagen"
        class="inputfile "
        name="imagenEmisor"
        type="file"
        placeholder="Seleccionar imagen de emisor"
        accept=".jpg,.png,.jpeg,.svg"
        (change)="onBasicUploadAuto($event)"
      />
      <div *ngIf="pathImagen">
        <hr>
        <img
          [src]="pathImagen"
          [style.width.%]="width"
          [style.height.%]="height"
          style="max-width: 100%;"
          class="img imgPlaceholder separacion-fondo-1">
      </div>
    </div>
  </p-scrollPanel>

</div>

