<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="tipoAlbumSeleccionado"
      [suggestions]="arregloTiposAlbum"
      (completeMethod)="filtrarTiposAlbum($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el tipo"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarTipoAlbumSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarTipoAlbum()"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-tipoAlbum pTemplate="item">
        {{tipoAlbum.nombre}}
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por tipo'}}
    </small>
  </div>

</div>
