<form
  [formGroup]="formularioPremio"
>
  <div class="row">
    <div class="col-sm-5">
      <app-input-imagen
        [ocultarInput]="this.formularioPremio.disabled"
        [pathImagen]="cargarImagenTour()"
        [width]="width"
        [height]="'700'"
        (emitirImagen)="escucharEventoImagen($event)"
      ></app-input-imagen>
    </div>
    <div class="col-sm-7">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del festival"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción </label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción del festival"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
