<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="certificadoSeleccionado"
      [suggestions]="arregloCertificados"
      (completeMethod)="filtrarCertificados($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el certificado"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarCertificadoSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      field="nombre">
      <ng-template let-certificado pTemplate="item">
        {{certificado.nombre}}
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por certificado'}}
    </small>
  </div>

</div>
