<p-table [columns]="cols" [value]="enlaces">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        [style.width]="col.width"
        class="text-center"
        *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No existen registros
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">

        <div *ngIf="col.field==='plataforma'">
          <img
            [src]="obtenerUrlPrincipal(rowData.plataforma)"
            style="display:inline-block;" width="25px">

          {{rowData[col.field].nombre}}
        </div>
        <div *ngIf="col.field==='tipo'">
          {{rowData.plataforma.tipo}}
        </div>
        <div *ngIf="col.field==='seguidores'">
          {{rowData[col.field] ? (rowData[col.field] | number) : 'No requiere'}}
        </div>
        <div class="" *ngIf="col.field==='acciones'">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button
              class="btn btn-success">
              <i style="padding-right: 0%" class="fas fa-arrow-right">
              </i>
            </button>
            <button
              class="btn btn-primary">
              <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
            </button>

          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
