<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="artistaSeleccionado"
      [suggestions]="arregloArtistas"
      (completeMethod)="filtrarArtistas($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el artista"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarArtistaSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarArtista()"
      [multiple]="multiple"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-artista pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <img
            class="img thumb1"
            style="width:35px; display:inline-block; margin:5px 0 2px 5px"
            [src]="obtenerUrlPrincipal(artista)"/>
          <div style="float:right;margin:10px 10px 0 0">{{artista.nombre}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{ multiple ? "Selecione el artista principal primero"  : 'Filtre por artista'}}
    </small>
  </div>

</div>
