<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    (data.premio ? 'EDITAR' : 'REGISTRAR') + ' PREMIO'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <mat-horizontal-stepper
        #stepper>
        <mat-step
          [completed]="!!data?.premio">
          <ng-template matStepLabel>Información del Premio / Evento</ng-template>
          <div class="col-sm-12">
            <app-formulario-premio
              [width]="70"
              [premio]="data?.premio"
              (premioValidoEnviar)="validarFormulario($event)"
            >
            </app-formulario-premio>
          </div>
        </mat-step>
        <mat-step
          *ngIf="this.premioACrearEditar?.esPremio"
        >
          <ng-template matStepLabel>Categorías</ng-template>
          <div class="row">
            <div class="col-sm-12">
              <app-tabla-categorias
              [categorias]="data.premio?.categoriasPremio || []"
              (cargarCategorias)="setearCategorias($event)"
              ></app-tabla-categorias>
            </div>
          </div>
        </mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>insert_emoticon</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number">
          <mat-icon>library_music</mat-icon>
        </ng-template>


      </mat-horizontal-stepper>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<br>
<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-4">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioPremioValido"
          (emitirEvento)="crearEditarPremio()">
        </app-boton-guardar>
      </div>
      <div class="p-4">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
