<form
  [formGroup]="formularioTour"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="seCancelo" class="p-col-fixed">Es Festival </label>
          <div class="p-col-12 p-md-12">
            <p-inputSwitch
              id="esFestival"
              formControlName="esFestival"
              [disabled]="this.tour?.tipo === 'festival'"
            ></p-inputSwitch>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.esFestival">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="esFestival"
          class="p-field p-grid">
          <label for="festival" class="p-col-fixed">Festival *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-festival
              id="festival"
              [deshabilitar]="this.formularioTour.disabled || this.tour?.tipo === 'festival'"
              [idFestival]="festival?.id"
              (emitirFestivalSeleccionado)="setearFestival($event)"
            ></app-autocomplete-festival>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.festival">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="locacion" class="p-col-fixed">Locación *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="locacion"
              pInputText
              type="text"
              formControlName="locacion"
              placeholder="Ingrese el locacion"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.locacion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="lugar" class="p-col-fixed">Pais: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-lugar
              [tiposAFiltrar]="['pais']"
              [idsLugarAsignado]="[idLugarPadre || -1]"
              id="pais"
              (emitirLugarSeleccionado)="escucharLugarPadreSeleccionado($event)"
            ></app-autocomplete-lugar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.pais">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="lugar" class="p-col-fixed">Ciudad *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-lugar
              id="lugar"
              [tiposAFiltrar]="['ciudad']"
              [idsLugarAsignado]="idsLugarAsignado"
              [lugarSeleccionado]="lugar"
              [deshabilitar]="formularioTour.disabled"
              (emitirLugarSeleccionado)="escucharLugarSeleccionado($event)"
              [idLugarPadre]="idLugarPadre"
            ></app-autocomplete-lugar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.lugar">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="lugar" class="p-col-fixed">Recinto *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-recinto
              id="recinto"
              [idRecinto]="this.tourLugar?.recinto?.id"
              [deshabilitar]="formularioTour.disabled"
              (emitirRecintoSeleccionado)="escucharRecintoSeleccionado($event)"
            ></app-autocomplete-recinto>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.recinto">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>



        <div class="p-field p-grid">
          <label for="fecha" class="p-col-fixed">Fecha*</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fecha"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha"
              formControlName='fecha'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fecha">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="hora" class="p-col-fixed">Hora *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="hora"
              pInputText
              type="text"
              formControlName='hora'
              placeholder="Ingrese la hora de la fecha del tour"
              [textMask]="{mask: mask}"
            >
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.hora">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="ticketsDisponibles" class="p-col-fixed">Tickets disponibles*</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="ticketsDisponibles"
              formControlName='ticketsDisponibles'
              placeholder="Ingrese la cantidad de tickets Disponibles de la fecha"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.ticketsDisponibles">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="ticketsVendidos" class="p-col-fixed">Tickets vendidos*</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="ticketsVendidos"
              formControlName='ticketsVendidos'
              placeholder="Ingrese la cantidad de tickets Disponibles de la fecha"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.ticketsVendidos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="recaudacion" class="p-col-fixed">Recaudación</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="recaudacion"
              [min]="0"
              mode="currency" currency="USD" locale="en-US"
              formControlName='recaudacion'
              placeholder="Ingrese la recaudacion de la fecha"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.recaudacion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="observacion" class="p-col-fixed">Observación </label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="observacion"
              [rows]="5"
              [cols]="75"
              pInputTextarea
              formControlName="observacion"
              placeholder="Ingrese la observacion de la fecha"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.observacion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="seCancelo" class="p-col-fixed">Se cancelo </label>
          <div class="p-col-12 p-md-12">
            <p-inputSwitch
              id="seCancelo"
              formControlName="seCancelo"
              ></p-inputSwitch>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.seCancelo">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="razonCancelacion" class="p-col-fixed">Razon de cancelación </label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="razonCancelacion"
              [rows]="5"
              [cols]="75"
              pInputTextarea
              formControlName="razonCancelacion"
              placeholder="Ingrese la razon de Cancelacion de la fecha"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.razonCancelacion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
