<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ (artista ? ('CANCIONES DE ' + artista.nombre) : 'GESTIÓN DE CANCIONES' )| uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-9">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre o año de lanzamiento. EJ: Alice ó 2013'"
      [ayuda]="'Busque una canción por su nombre o año de lanzamiento'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
  <div class="col-sm-3">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearEditarCancion()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">
  <div class="col-sm-3">
    <app-autcomplete-generos
      [idGenero]="idGenero"
      (emitirGenroSeleccionado)="buscarCancionesPorGenero($event)"
    ></app-autcomplete-generos>
  </div>
  <div [ngClass]="!idArtistaParams ? 'col-sm-3' : ''" >
    <app-autocomplete-artista
      *ngIf="!idArtistaParams"
      [idArtista]="idArtista"
      [multiple]="false"
      (emitirArtistaSeleccionado)="buscarCancionPorArtista($event)"
    ></app-autocomplete-artista>
  </div>
  <div class="col-sm-3">
    <app-autocomplete-albums
      [idAlbum]="idAlbum"
      [idsArtistas]="idArtista ? [idArtista] : []"
      (emitirAlbumSeleccionado)="buscarCancionesPorAlbum($event)"
    ></app-autocomplete-albums>
  </div>
  <div class="col-sm-3" >
    <app-autocomplete-tipo-cancion
      [idTipoCancion]="idTipoCancion"
      (emitirTipoCancionSeleccionado)="buscarCancionPorTipo($event)"
    ></app-autocomplete-tipo-cancion>
  </div>
</div>

<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [rows]="15"
      [paginator]="true"
      [columns]="columnasCanciones"
      [value]="canciones"
      styleClass="ui-table-customers"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon
              *ngIf="col.header === 'Nombre' || col.header === 'fechaLanzamiento' || col.header === 'duracionSegundos' || col.header === 'Tipo'"
              [field]="col.field"
            >
            </p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field==='nombre'">
              {{rowData.nombre}}
            </div>
            <div *ngIf="col.field==='imagen'">
              <img
                [src]="obtenerUrlPrincipal(rowData)"
                style="display:inline-block;" width="30px">
            </div>
            <div *ngIf="col.field==='tipo'">
              {{rowData.tipoCancion.nombre}}
            </div>
            <div *ngIf="col.field==='fechaLanzamiento'">
              {{rowData.fechaLanzamiento}}
            </div>
            <div *ngIf="col.field==='artistas'">
              {{obtenerArtistasCancion(rowData.artistasCancion)}}
            </div>
            <div *ngIf="col.field==='albums'">
              {{obtenerAlbumesCancion(rowData.albumesCancion) === '' ? rowData.nombre : obtenerAlbumesCancion(rowData.albumesCancion)}}
            </div>
            <div *ngIf="col.field==='generos'">
              {{obtenerGenerosCancion(rowData.generosCancion)}}
            </div>
            <div *ngIf="col.field==='duracionSegundos'">
              {{rowData.duracionSegundos | minutosHoras}}
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                (click)="irRutaEditarCancion(rowData)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

