<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="tipoCancionSeleccionado"
      [suggestions]="arregloTiposCancion"
      (completeMethod)="filtrarTiposCancion($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el tipo"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarTipoCancionSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarTipoCancion()"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-tipoCancion pTemplate="item">
        {{tipoCancion.nombre}}
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por tipo'}}
    </small>
  </div>

</div>
