<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="" *ngIf="artista">
  <div class="container">
    <div class="row center">
      <div class="col-sm-12">
        <h3 class="text-center">
          {{
          artista.nombre | uppercase
          }}
        </h3>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div
        class="col-md-12">
        <div class="row">
          <div class="col-sm-11">
            <h5 class="descripcion-modal">{{'Información del artista.'}}</h5>
          </div>
          <div class="col-sm-1 justify-content-end d-flex">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="" *ngIf="!(componenteFormularioArtista?.formularioArtista?.disabled)">
                    <div class="d-flex flex-row-reverse">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button
                          (click)="cancelarEdicion()"
                          class="btn btn-secondary">
                          <i style="padding-right: 1%" class="fas fa-times"></i>
                        </button>
                        <button
                          [disabled]="!formularioValido"
                          (click)="editarArtista()"
                          class="btn btn-primary">
                          <i style="padding-right: 1%" class="fas fa-upload"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="" *ngIf="componenteFormularioArtista?.formularioArtista?.disabled">
                    <button
                      (click)="habilitarFormularioEditarArtista()"
                      class="btn btn-primary">
                      <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <div
        *ngIf="!(componenteFormularioArtista?.formularioArtista?.disabled)"
        class="col-md-12">
        <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*). '}}</p>
      </div>
      <div class="col-sm-12">
        <app-formulario-artista
          [width]="50"
          [artista]="artista"
          (artistaValidoEnviar)="validarFormularioArtista($event)"
        >
        </app-formulario-artista>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col sm 10">
      <hr>
      <br>
      <div class="col-sm-12">
        <h5 >
          {{
          'Opciones del artista'
          }}
        </h5>
      </div>
      <br>
      <div class="">
        <app-carousel-opciones
          [opciones]="opcionesArtista"
          (emitirEvento)="irAGestion($event)"
        ></app-carousel-opciones>
      </div>

    </div>
    <div class="col-sm-1"></div>
  </div>
  <br>
</div>
<div class="" *ngIf="!artista">
<h5 class="text-center">Artista no encontrado</h5>
</div>
