<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    data.tourLugar ? 'EDITAR FECHA DE TOUR' : 'REGISTRAR FECHA DE TOUR'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios.'}}</p>
    </div>
    <div class="col-sm-12">
      <app-formulario-tour-lugar
        [tourLugar]="data.tourLugar"
        [tour]="data?.tour"
        (tourLugarValidoEnviar)="validarFormularioLugar($event)"></app-formulario-tour-lugar>
    </div>
  </div>
</div>

<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-3">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioValido"
          (emitirEvento)="crearEditarTourLugar()">
        </app-boton-guardar>
      </div>
      <div class="p-3">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
