<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="" *ngIf="cancion">
  <div class="container">
    <div class="row center">
      <div class="col-sm-12">
        <h3 class="text-center">
          {{
          cancion.nombre | uppercase
          }}
        </h3>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div
        class="col-md-12">
        <div class="row">
          <div class="col-sm-11">
            <h5 class="descripcion-modal">{{'Información de la canción.'}}</h5>
          </div>
          <div class="col-sm-1 justify-content-end d-flex">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="" *ngIf="!(componenteFormularioCancion?.formularioCancion?.disabled)">
                    <div class="d-flex flex-row-reverse">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button
                          (click)="cancelarEdicion()"
                          class="btn btn-secondary">
                          <i style="padding-right: 1%" class="fas fa-times"></i>
                        </button>
                        <button
                          [disabled]="!formularioValido"
                          (click)="editarCancion()"
                          class="btn btn-primary">
                          <i style="padding-right: 1%" class="fas fa-upload"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="" *ngIf="componenteFormularioCancion?.formularioCancion?.disabled">
                    <button
                      (click)="habilitarFormularioEditarCancion()"
                      class="btn btn-primary">
                      <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <div
        *ngIf="!(componenteFormularioCancion?.formularioCancion?.disabled)"
        class="col-md-12">
        <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*). '}}</p>
      </div>
      <div class="col-sm-12">
        <app-formulario-cancion
          [width]="70"
          [cancion]="cancion"
          [idsArtista]="idsArtistas"
          [idsAlbums]="idsAlbum"
          (cancionValidoEnviar)="validarFormularioCancion($event)"
        >
        </app-formulario-cancion>
      </div>

      <hr>
      <app-carousel-opciones
        [opciones]="opcionesCancion"
        (emitirEvento)="irAGestion($event)"
      ></app-carousel-opciones>

    </div>
    <div class="col-sm-1"></div>
  </div>
  <br>
</div>
<div class="" *ngIf="!cancion">
  <h5 class="text-center">Cancion no encontrado</h5>
</div>
