<form
  [formGroup]="formularioCertificadoFechaChart"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="certificado" class="p-col-fixed">Certificado: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-certificado
              [certificadoSeleccionado]="certificadoChartFecha?.certificado"
              [idsCertificadosAsignados]="certificadoChartFecha ? [certificadoChartFecha.certificado.id] : []"
              [idChart]="idChart"
              id="certificado"
              (emitirCertificadoSeleccionado)="setearCertificado($event)"
            ></app-autocomplete-certificado>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.certificado">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fecha" class="p-col-fixed">Fecha *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fecha"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha del certificado"
              formControlName='fecha'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fecha">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="cantidad" class="p-col-fixed">Cantidad *</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="cantidad"
              [step]="1"
              mode="decimal"
              [useGrouping]="true"
              [min]="0"
              formControlName='cantidad'
              placeholder="Ingrese la cantidad del certificado"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cantidad">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
