<form
  [formGroup]="formularioLugar"
>
  <div class="row">
    <div class="col-sm-6" *ngIf="imagenObligatoria ">
      <app-input-imagen
        [ocultarInput]="this.formularioLugar.disabled"
        [pathImagen]="cargarImagenLugar()"
        [width]="width"
        (emitirImagen)="escucharEventoImagen($event)"
      ></app-input-imagen>
    </div>
    <div [ngClass]="imagenObligatoria ? 'col-sm-6' : 'col-sm-12'">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del lugar"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>


