<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="plataformaSeleccionada"
      [suggestions]="arregloPlataformas"
      (completeMethod)="filtrarPlataformas($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione la plataforma"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarPlataformaSeleccionada($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-plataforma pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <img
            class="img thumb1"
            style="width:35px; display:inline-block; margin:5px 0 2px 5px"
            [src]="obtenerUrlPrincipal(plataforma)"/>
          <div style="float:right;margin:10px 10px 0 0">{{plataforma.nombre}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por plataforma'}}
    </small>
  </div>

</div>
