<form
  [formGroup]="formularioFestivalLugar"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="lugar" class="p-col-fixed">Lugar *</label>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.lugar">
            </app-alerta-validacion-campo-formulario>
          </div>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-lugar
              [tiposAFiltrar]="['pais']"
              [idsLugarAsignado]="[idLugar || -1]"
              id="pais"
              (emitirLugarSeleccionado)="escucharLugarPadreSeleccionado($event)"
            ></app-autocomplete-lugar>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
