<form
  [formGroup]="formularioNominacion"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div
          *ngIf="mostrarPremio"
          class="p-field p-grid">
          <label for="premio" class="p-col-fixed">Premio *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-premio
              [idPremio]="idPremio"
              [deshabilitar]="this.formularioNominacion.disabled"
              id="premio"
              (emitirPremioSeleccionado)="setearPremio($event)"
            ></app-autocomplete-premio>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.premio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div
          *ngIf="mostrarPremio"
          class="p-field p-grid">
          <label for="premioAnio" class="p-col-fixed">Año *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-premio-anio
              [idPremio]="idPremio"
              [idPremioAnio]="idPremioAnio"
              [deshabilitar]="this.formularioNominacion.disabled"
              id="premioAnio"
              [multiple]="false"
              (emitirPremioAnioSeleccionada)="setearPremioAnio($event)"
            ></app-autocomplete-premio-anio>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.premioAnio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="artista" class="p-col-fixed">Artista(s) *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-artista
              [deshabilitar]="this.formularioNominacion.disabled"
              id="artista"
              [arregloidsArtista]="idsArtista"
              [multiple]="true"
              (emitirArtistaSeleccionado)="buscarCancionesPorArtista($event)"
            ></app-autocomplete-artista>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.artista">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <div class="p-col-12 p-md-12">
            Canciones:
            <div class="">
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <button
                    (click)="agregarCancion()"
                    class="btn btn-sm btn-success">
                    <i style="padding-right: 0%" class="fas fa-plus-circle"></i>
                  </button>
                </div>
                <div class="col-sm-9"></div>
              </div>
              <div class="row">
                <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
                  <p-table
                    #dt
                    [columns]="columnas"
                    [value]="presentacionCanciones"
                    styleClass="ui-table-customers"
                    [responsive]="true"
                  >
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th
                          [pSortableColumn]="col.field"
                          [style.width]="col.width"
                          class="text-center"
                          *ngFor="let col of columns">
                          {{col.header}}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td [attr.colspan]="columns.length">
                          No existen registros
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                      <tr>
                        <td class="" *ngFor="let col of columns">
                          <div *ngIf="col.field==='cancion'">
                            {{rowData.nombreCancion}}
                          </div>
                          <div *ngIf="col.field === 'acciones'">
                            <button
                              (click)="eliminarCancion(rowData, index)"
                              class="btn btn-danger">
                              <i style="padding-right: 0%" class="fas fa-trash"></i>
                            </button>
                          </div>

                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
