.imagen-item-menu {
  height: 200px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.contenedor-item-menu {
  padding-top: 20px;
  line-height: 22px;
  border-radius: 3px;
  background-color: #ececec;
  border: 2px solid #1D2E3D;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-bottom: 10px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.titulo-item-menu {
  font-size: 0.95rem;
  text-align: center;
  font-weight: bold;
  color: #1D2E3D;
}

.img{
  display:block;
  margin:auto;
}
