<div class="contenedor-item-menu animated fadeInUp" >
  <div class="row hvr-float"
       (click)="irARuta()">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="titulo-item-menu">{{texto}}</h2>
        </div>
        <div class="col-sm-12">
          <img class="img imagen-item-menu"
               [src]="imagen" [alt]="texto"
               [title]="texto">
        </div>
      </div>
  </div>
</div>

