<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    data.cancion ? 'EDITAR CANCIÓN' : 'REGISTRAR CANCIÓN'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios.'}}</p>
    </div>
    <div class="col-sm-12">
      <app-formulario-cancion
        [deshabilitarAlbums]="data.deshabilitarAlbums"
        [idsAlbums]="data.idsAlbums"
        [idsArtista]="data.idsArtista"
        [album]="data.album"
        [cancion]="data.cancion"
        (cancionValidoEnviar)="validarFormularioCancion($event)">
      </app-formulario-cancion>
    </div>
  </div>
</div>

<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-3">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioValido"
          (emitirEvento)="crearEditarCancion()">
        </app-boton-guardar>
      </div>
      <div class="p-3">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
