<div class="col-lg-12">
  <form class="form-inline row" novalidate>
    <div class="col-sm-12">
      <div class="input-group mb-9">
        <input
          [(ngModel)]="busqueda"
          [ngModelOptions]="{standalone: true}"
          type="text"
          class="form-control"
          aria-describedby="busquedaEmpresaHelp"
          [placeholder]="placeholder"
          >
        <div class="input-group-append">
          <button
            (click)="enviarBusqueda()"
            class="btn btn-outline-secondary"
            type="btn"
            id="button-addon2"
          >
            <i class="fas fa-search"></i>
            BUSCAR
          </button>
        </div>
      </div>
      <small
        id="busquedaRolHelp"
        class="form-text text-muted ayuda-span">
        {{ayuda}}
      </small>
    </div>
  </form>
</div>
