@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered{
  position: fixed;
  top: 33%;
  left: 33%;
}
.cargando-texto{
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.contenedor{
  border: solid black 0.1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 40rem;
  justify-content: center;
  box-shadow: black 2px 1px 5px 1px;
}

.texto{
  word-wrap: break-word;
}

.titulo{
  color: #36546f;
  border-bottom: solid black 0.1rem;
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.fondo{
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  display: inline-block;
}

.imagen{
  width: 12rem;
  height: 12rem;
}

.centrar-contenido{
  justify-content: center;
}

.descripcion{
  font-size: 20px;
}

.ui-dropdown-item-empty, .ui-dropdown-label-empty {
  text-indent: 1px;
  overflow: hidden;
}

.ui-dropdown{
  width: 100%;
}

.oculto {
  position: absolute;
  opacity: 0.0;
  z-index: -1;
}

.contenedor-mensaje {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  transition: 1s;
  border-bottom: darkred 2px;
}

.tamanio-icono-opcion{
  width: 16px;
  height: 16px;
  float: right;
}

.btn-outline-warning:hover {
  color: #2c2c2c;
  background-color: #ffc107;
  border-color: #ffc107;
}

.input-res {
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
}
