<form
  [formGroup]="formularioUnidad"
>
  <div class="row">
    <div
      class="col-sm-12">
      <div class="ui-fluid">


        <div
          *ngIf="tipo === 'cancion'"
          class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [arregloidsCancionesSeleccionadas]="idsCancionesAlbumesVideos"
              [idCancion]="unidad ? unidad.cancion.id : null"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'album'"
          class="p-field p-grid">
          <label for="albums" class="p-col-fixed">Album</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [arregloIdsAlbumsSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="albums"
              [idAlbum]="unidad ? unidad.album.id : null"
              (emitirAlbumSeleccionado)="setearAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.album">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'video'"
          class="p-field p-grid">
          <label for="video" class="p-col-fixed">Video:</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-video
              [arregloIdsVideosSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="video"
              [idVideo]="unidad ? unidad.video.id : null"
              (emitirVideoSeleccionado)="setearVideo($event)"
            ></app-autocomplete-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.video">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          class="p-field p-grid">
          <label for="medida" class="p-col-fixed">Medida *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-medida
              [idsMedidasAsignadas]="unidad ? [unidad.medida.id] : []"
              id='medida'
              (emitirMedidaSeleccionada)="setearMedida($event)"
            ></app-autocomplete-medida>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.medida">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="unidadesDebut" class="p-col-fixed">Unidades Debut:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="unidadesDebut"
              [step]="1"
              mode="decimal"
              [useGrouping]="true"
              [min]="0"
              formControlName='unidadesDebut'
              [placeholder]="'Ingrese las unidades debut ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.unidadesDebut">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="unidadesReales" class="p-col-fixed">Unidades Reales:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="unidadesReales"
              [step]="1"
              [useGrouping]="true"
              [min]="0"
              formControlName='unidadesReales'
              [placeholder]="'Ingrese las unidades reales ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.unidadesReales">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
