<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    'AGREGAR CANCIÓN'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="ui-fluid">

              <div
                class="p-field p-grid">
                <label for="cancion" class="p-col-fixed">Canciones(s)</label>
                <div class="p-col-12 p-md-12">
                  <app-autocomplete-cancion
                    [arregloidsCancion]="idsCanciones"
                    id='cancion'
                    [multiple]="false"
                    (emitirCancionSeleccionado)="setearCanciones($event)"
                  ></app-autocomplete-cancion>
                </div>
              </div>

              <div class="p-field p-grid">
                <label for="nombre" class="p-col-fixed">Nombre *</label>
                <div class="p-col-12 p-md-12">
                  <input
                    id="nombre"
                    [(ngModel)]="nombreCancion"
                    pInputText
                    type="text"
                    placeholder="Ingrese la canción"/>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<br>
<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-4">
        <app-boton-guardar
          [deshabilitarBoton]="!nombreCancion"
          (emitirEvento)="agregarCancion()">
        </app-boton-guardar>
      </div>

      <div class="p-4">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
