<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    (data?.nominacion ? 'EDITAR' : 'REGISTRAR') + ' NOMINACIÓN'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="col-sm-12">
        <app-formulario-nominacion
          [width]="70"
          [idPremio]="data.idPremio"
          [nominacion]="data?.nominacion"
          [idsArtista]="idsArtistas"
          [idsAlbums]="idsAlbumes"
          [idsCanciones]="idsCanciones"
          [idsVideos]="idsVideos"
          [idsTours]="idsTours"
          [mostrarPremio]="data.mostrarPremio"
          [tipos]="data.tipos"
          (nominacionValidoEnviar)="validarFormulario($event)"
        >
        </app-formulario-nominacion>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<br>
<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-4">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioNominacionValido"
          (emitirEvento)="crearEditarNominacion()">
        </app-boton-guardar>
      </div>
      <div class="p-4">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
