<div class="row"
     (click)="irARuta()">
  <div class="row">
    <div class="col-sm-12">
      <img class="img thumb1"
           style="width:350px"
           [src]="imagen" alt="descripcion">
    </div>
    <div class="col-sm-12">
      <h1 class="titulo-item-menu">{{texto}}</h1>
    </div>
  </div>
</div>

