
.img{
  display:block;
  margin:auto;
  border-radius: 50%;
}

.thumb1 {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

.titulo-item-menu {
  font-size: 0.95rem;
  text-align: center;
  font-weight: bold;
  color: #1D2E3D;
}

