<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-3">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearEditarCategoria()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [rows]="15"
      [paginator]="true"
      [columns]="columnasCategorias"
      [value]="categorias"
      styleClass="ui-table-customers"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon
              *ngIf="col.header === 'Nombre'"
              [field]="col.field"
            >
            </p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field==='nombre'">
              {{rowData.nombre}}
            </div>
            <div *ngIf="col.field==='tipo'">
              {{rowData.tipo}}
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                (click)="abrirModalCrearEditarCategoria(rowData)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
