<div class="row">
  <div class="col-sm-3">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearEditarNominacion()"
    ></app-boton-nuevo>
  </div>
  <div class="col-sm-9"></div>
</div>
<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [columns]="columnas"
      [value]="nominaciones"
      styleClass="ui-table-customers"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td class="" *ngFor="let col of columns">
            <div *ngIf="col.field==='categoria'">
              {{rowData.categoria?.nombre}}
            </div>
            <div *ngIf="col.field==='nominaciones'">
              <li *ngFor="let nominacion of rowData.nominacionesCategoria">
                {{setearNominacion(nominacion)}}
              </li>
            </div>
            <div *ngIf="col.field==='ganadores'">
              <div *ngFor="let nominacion of rowData.nominacionesCategoria">
                <li *ngIf="nominacion.siGano">
                  {{setearNominacion(nominacion)}}
                </li>
              </div>
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                (click)="abrirModalCrearEditarNominacion(rowData)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
              <button
                (click)="abrirModalSeleccionarGanador(rowData)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-award"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
