<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ (objeto?.nombre  + ' - ' + chart?.nombre) | uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-7">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre . EJ: Bad romance'"
      [ayuda]="'Busque una canción por su nombre'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
  <div class="col-sm-2">
    <p-dropdown
      [options]="arregloTops"
      [(ngModel)]="top"
      placeholder="Seleccione el top de la lista"
      [showClear]="true"
      (onChange)="buscarChartPorTop($event.value)"
    ></p-dropdown>
  </div>
  <div class="col-sm-3">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearEditarChart()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">

</div>

<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [columns]="columnasSeleccionadas"
      [value]="chartsCancionesAlbumesArtistaVideos"
      styleClass="ui-table-customers"
      [responsive]="true"
      [sortField]="'peak'"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon
              *ngIf="col.header === 'Nombre' || col.header === 'Tipo'"
              [field]="col.field"
            >
            </p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field==='nombre'">
              <img
                *ngIf="tipo === 'cancion' || tipo === 'album'"
                [src]="obtenerUrlPrincipal(rowData[tipo])"
                style="display:inline-block;" width="120px">
              <div class="">
                {{rowData[tipo].nombre}}
              </div>
            </div>
            <div *ngIf="col.field==='peak'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='fechaDebut'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='posicionDebut'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='unidadesDebut'">
              {{rowData[col.field] ? (rowData[col.field] | number) : '-'}}
            </div>
            <div *ngIf="col.field==='unidadesReales'">
              {{rowData[col.field] ? (rowData[col.field] | number) : '-'}}
            </div>
            <div *ngIf="col.field==='fechaPeak'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroSemanas'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroDias'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroSemanasPeak'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroDiasPeak'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroSemanasTop5'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroDiasTop5'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroSemanasTop10'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='numeroDiasTop10'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                (click)="abrirModalCrearEditarChart(rowData, index)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

