<form
  [formGroup]="formularioCertificadoChart"
>
  <div class="row">
    <div
      class="col-sm-12">
      <div class="ui-fluid">
        <div
          *ngIf="tipo === 'cancion'"
          class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [arregloidsCancionesSeleccionadas]="idsCancionesAlbumesVideos"
              [idCancion]="certificadoChart ? certificadoChart.cancion.id : null"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'album'"
          class="p-field p-grid">
          <label for="albums" class="p-col-fixed">Album</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [arregloIdsAlbumsSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="albums"
              [idAlbum]="certificadoChart ? certificadoChart.album.id : null"
              (emitirAlbumSeleccionado)="setearAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.album">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'video'"
          class="p-field p-grid">
          <label for="video" class="p-col-fixed">Video:</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-video
              [arregloIdsVideosSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="video"
              [idVideo]="certificadoChart ? certificadoChart.video.id : null"
              (emitirVideoSeleccionado)="setearVideo($event)"
            ></app-autocomplete-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.video">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          class="p-field p-grid">
          <div class="p-col-12 p-md-12">
            <app-tabla-certificados-chart-fecha
              [idChart]="idChart"
              [verBotones]="true"
              [certificadosChartFecha]="certificadoChart? certificadoChart.certificadosChartFecha : []"
              (certificadosChartFechaAEnviar)="setearCertificadosChartFecha($event)"
            ></app-tabla-certificados-chart-fecha>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.certificadosChartFecha">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
