<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    (data.festivalLugar ? 'EDITAR' : 'REGISTRAR') + ' LUGAR DE FESTIVAL'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">

      <div class="col-sm-12">
        <app-formulario-festival-lugar
          [width]="70"
          [festivalLugar]="data?.festivalLugar"
          [idLugar]="idLugar"
          (festivalLugarValidoEnviar)="validarFormulario($event)"
        >
        </app-formulario-festival-lugar>
      </div>

    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<br>
<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-4">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioFestivalLugarValido"
          (emitirEvento)="crearEditarPremioAnio()">
        </app-boton-guardar>
      </div>
      <div class="p-4">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
