<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ (objeto?.nombre  + ' - ' + chart?.nombre) | uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-9">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre . EJ: Bad romance'"
      [ayuda]="'Busque una canción por su nombre'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
  <div class="col-sm-3">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearEditarChartPosicion()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">

</div>

<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [columns]="columnasSeleccionadas"
      [value]="chartsPosiciones"
      styleClass="ui-table-customers"
      [responsive]="true"
      [sortField]="'peak'"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon
              *ngIf="col.header === 'Nombre' || col.header === 'Tipo'"
              [field]="col.field"
            >
            </p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field==='nombre'">
              {{rowData[tipo].nombre}}
            </div>
            <div *ngIf="col.field==='imagen'">
              <img
                [src]="obtenerUrlPrincipal(rowData[tipo])"
                style="display:inline-block;" width="30px">
            </div>
            <div *ngIf="col.field==='posicion'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='fecha'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='competencia'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                (click)="abrirModalCrearEditarChartPosicion(rowData, index)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

