<form
  [formGroup]="formularioAlbum"
>
  <div class="row">
    <div class="col-sm-5">
      <app-input-imagen
        [ocultarInput]="this.formularioAlbum.disabled"
        [pathImagen]="cargarImagenAlbum()"
        [width]="width"
        (emitirImagen)="escucharEventoImagen($event)"
      ></app-input-imagen>
    </div>
    <div class="col-sm-7">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="artistas" class="p-col-fixed">Artistas *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-artista
              id="artistas"
              [deshabilitar]="this.formularioAlbum.disabled"
              [arregloidsArtista]="idsArtista"
              [multiple]="true"
              (emitirArtistaSeleccionado)="buscarAlbumesPorArtista($event)"
            ></app-autocomplete-artista>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.artistas">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del album"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="fechaLanzamiento" class="p-col-fixed">Fecha de lanzamiento *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaLanzamiento"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de lanzamiento"
              formControlName='fechaLanzamiento'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaLanzamiento">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="calificacion" class="p-col-fixed">Calificación *</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="calificacion"
              [showButtons]="true"
              [min]="0"
              [max]="100"
              [step]="1"
              [useGrouping]="false"
              formControlName='calificacion'
              placeholder="Ingrese la calificación del album"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.calificacion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción *</label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción del album"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="tipo" class="p-col-fixed">Tipo *</label>
          <div class="p-col-12 p-md-12">
<!--            <p-dropdown-->
<!--              id = "tipo"-->
<!--              [options]="tipos"-->
<!--              placeholder="Seleccione un tipo"-->
<!--              [showClear]="true"-->
<!--              formControlName="tipo"-->
<!--            ></p-dropdown>-->
            <app-autocomplete-tipo-album
              id = "tipo"
              [deshabilitar]="formularioAlbum.disabled"
              [idTipoAlbum]="idTipoAlbum"
              (emitirTipoAlbumSeleccionado)="escucharTipoAlbumSeleccionado($event)"
            ></app-autocomplete-tipo-album>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tipoAlbum">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="generos" class="p-col-fixed">Géneros *</label>
          <div class="p-col-12 p-md-12">
            <p-multiSelect
              id="generos"
              formControlName='generos'
              [maxSelectedLabels]="arregloGeneros.length"
              [options]="arregloGeneros"
              [optionLabel]="'nombre'"
              [panelStyle]="{minWidth:'12em'}"
              [defaultLabel]="'Seleccione los géneros del album'"
            ></p-multiSelect>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.generos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
