<form
  [formGroup]="formularioChartCancionAlbumVideoArtista"
>
  <div class="row">
    <div
      class="col-sm-12">
      <div class="ui-fluid">

        <div
          *ngIf="tipo === 'cancion'"
          class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [arregloidsCancionesSeleccionadas]="idsCancionesAlbumesVideos"
              [idCancion]="chartCancionAlbumVideoArtista ? chartCancionAlbumVideoArtista.cancion.id : null"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'album'"
          class="p-field p-grid">
          <label for="albums" class="p-col-fixed">Album</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [arregloIdsAlbumsSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="albums"
              [idAlbum]="chartCancionAlbumVideoArtista ? chartCancionAlbumVideoArtista.album.id : null"
              (emitirAlbumSeleccionado)="setearAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.album">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'video'"
          class="p-field p-grid">
          <label for="video" class="p-col-fixed">Video:</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-video
              [arregloIdsVideosSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="video"
              [idVideo]="chartCancionAlbumVideoArtista ? chartCancionAlbumVideoArtista.video.id : null"
              (emitirVideoSeleccionado)="setearVideo($event)"
            ></app-autocomplete-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.video">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>


    <div class="col-sm-6">
      <div class="ui-fluid">


        <div class="p-field p-grid">
          <label for="peak" class="p-col-fixed">Peak *:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="peak"
              [step]="1"
              [useGrouping]="false"
              formControlName='peak'
              [placeholder]="'Ingrese el peak ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.peak">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaPeak" class="p-col-fixed">Fecha Peak:</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaPeak"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              [placeholder]="'Ingrese la fecha peak ' + placeHolderTipo"
              formControlName='fechaPeak'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaPeak">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="numeroSemanas" class="p-col-fixed">Número Semanas:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroSemanas"
              [step]="1"
              mode="decimal"
              [useGrouping]="true"
              formControlName='numeroSemanas'
              [placeholder]="'Ingrese el numero de Semanas'"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroSemanas">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="numeroSemanasPeak" class="p-col-fixed">Número Semanas Peak:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroSemanasPeak"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroSemanasPeak'
              [placeholder]="'Ingrese el número de semanas en el peak ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroSemanasPeak">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="numeroSemanasTop5" class="p-col-fixed">Número Semanas Top 5:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroSemanasTop5"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroSemanasTop5'
              [placeholder]="'Ingrese el número de semanas en el top 5' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroSemanasTop5">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="numeroSemanasTop10" class="p-col-fixed">Número Semanas Top 10:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroSemanasTop10"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroSemanasTop10'
              [placeholder]="'Ingrese el número de semanas en el top 10' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroSemanasTop10">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="unidadesDebut" class="p-col-fixed">Unidades Debut:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="unidadesDebut"
              [step]="1"
              mode="decimal"
              [useGrouping]="true"
              formControlName='unidadesDebut'
              [placeholder]="'Ingrese las unidades debut ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.unidadesDebut">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="posicionDebut" class="p-col-fixed">Posición Debut:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="posicionDebut"
              [step]="1"
              [useGrouping]="false"
              formControlName='posicionDebut'
              [placeholder]="'Ingrese la posicon debut ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.posicionDebut">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaDebut" class="p-col-fixed">Fecha Debut *:</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaDebut"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              [placeholder]="'Ingrese la fecha debut' + placeHolderTipo"
              formControlName='fechaDebut'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaDebut">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="numeroDias" class="p-col-fixed">Número Dias:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroDias"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroDias'
              [placeholder]="'Ingrese el número de dias ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroDias">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="numeroDiasPeak" class="p-col-fixed">Número Dias Peak:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroDiasPeak"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroDiasPeak'
              [placeholder]="'Ingrese el número de dias en el peak ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroDiasPeak">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="numeroDiasTop5" class="p-col-fixed">Número Dias Top 5:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroDiasTop5"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroDiasTop5'
              [placeholder]="'Ingrese el número de dias en el top 5' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroDiasTop5">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="numeroDiasTop10" class="p-col-fixed">Número Dias Top 10:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="numeroDiasTop10"
              [step]="1"
              [useGrouping]="false"
              formControlName='numeroDiasTop10'
              [placeholder]="'Ingrese el número de dias en el top 10' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.numeroDiasTop10">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="unidadesReales" class="p-col-fixed">Unidades Totales:</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="unidadesReales"
              [step]="1"
              mode="decimal"
              [useGrouping]="true"
              formControlName='unidadesReales'
              [placeholder]="'Ingrese las unidades reales ' + placeHolderTipo"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.unidadesReales">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-12">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción </label>
          <div class="p-col-12 p-md-12">
                    <textarea
                      id="descripcion"
                      [rows]="5"
                      [cols]="30"
                      pInputTextarea
                      formControlName="descripcion"
                      [placeholder]="'Ingrese la observación' + placeHolderTipo"
                    ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>


  </div>
</form>
