<form
  [formGroup]="formularioCancion"
>
  <div class="row">
    <div class="col-sm-5">
      <app-input-imagen
        [pathImagen]="cargarImagenCancion()"
        [ocultarInput]="this.formularioCancion.disabled"
        [width]="width"
        (emitirImagen)="escucharEventoImagen($event)"
      ></app-input-imagen>
    </div>
    <div class="col-sm-7">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="artistas" class="p-col-fixed">Artista(s) *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-artista
              [deshabilitar]="this.formularioCancion.disabled"
              id="artistas"
              [arregloidsArtista]="idsArtista"
              [multiple]="true"
              (emitirArtistaSeleccionado)="buscarCancionesPorArtista($event)"
            ></app-autocomplete-artista>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.artistas">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="albums" class="p-col-fixed">Album(s)</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [idsArtistas]="obtenerIdsArtistasSeleccionados()"
              [deshabilitar]="this.formularioCancion.disabled || this.deshabilitarAlbums"
              id="albums"
              [arregloidsAlbum]="idsAlbums"
              [multiple]="true"
              (emitirAlbumSeleccionado)="buscarCancionesPorAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.albums">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre de la canción"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="fechaLanzamiento" class="p-col-fixed">Fecha de lanzamiento *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaLanzamiento"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de lanzamiento"
              formControlName='fechaLanzamiento'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaLanzamiento">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="duracionSegundos" class="p-col-fixed">Duración(min) *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="duracionSegundos"
              pInputText
              type="text"
              formControlName='duracionSegundos'
              placeholder="Ingrese la duración de la cancíon en segundos"
              [textMask]="{mask: mask}"
            >
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.duracionSegundos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="tipo" class="p-col-fixed">Tipo *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-tipo-cancion
              id = "tipo"
              [deshabilitar]="formularioCancion.disabled"
              [idTipoCancion]="idTipoCancion"
              (emitirTipoCancionSeleccionado)="escucharTipoCancionSeleccionado($event)"
            ></app-autocomplete-tipo-cancion>
<!--            <p-dropdown-->
<!--              id = "tipo"-->
<!--              [options]="tipos"-->
<!--              placeholder="Seleccione un tipo"-->
<!--              [showClear]="true"-->
<!--              formControlName="tipo"-->
<!--            ></p-dropdown>-->
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tipoCancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="generos" class="p-col-fixed">Géneros *</label>
          <div class="p-col-12 p-md-12">
            <p-multiSelect
              id="generos"
              formControlName='generos'
              [maxSelectedLabels]="arregloGeneros.length"
              [options]="arregloGeneros"
              [optionLabel]="'nombre'"
              [panelStyle]="{minWidth:'12em'}"
              [defaultLabel]="'Seleccione los géneros de la canción'"
            ></p-multiSelect>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.generos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="enlace" class="p-col-fixed">Enlace: </label>
          <div class="p-col-12 p-md-12">
            <iframe
              *ngIf="cancion && obtenerEnlace() && formularioCancion.disabled"
              [src]='obtenerEnlace() | safe'
              style="width: 100%; height: 85px"
              allowtransparency="true"
              allow="encrypted-media">
            </iframe>
            <input
              *ngIf="!cancion || !formularioCancion.disabled"
              id="enlace"
              pInputText
              type="text"
              formControlName="enlace"
              placeholder="Ingrese el enlace de la canción"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.enlace">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción</label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción de la canción"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
