<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="albumSeleccionado"
      [suggestions]="arregloAlbums"
      (completeMethod)="filtrarAlbums($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el album"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarAlbumSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarAlbum()"
      [multiple]="multiple"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-album pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <img
            class="img thumb1"
            style="width:35px; display:inline-block; margin:5px 0 2px 5px"
            [src]="obtenerUrlPrincipal(album)"/>
          <div style="float:right;margin:10px 10px 0 0">{{album.nombre}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{ multiple ? "Selecione el album principal primero"  : 'Filtre por album'}}
    </small>
  </div>

</div>
