<form
  [formGroup]="formularioPremioAnio"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="fecha" class="p-col-fixed">Fecha *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fecha"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de lanzamiento"
              formControlName='fecha'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fecha">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="lugar" class="p-col-fixed">Lugar *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="lugar"
              pInputText
              type="text"
              formControlName="lugar"
              placeholder="Ingrese el lugar de la ceremonia"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.lugar">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
