<div class="row">
  <div class="col-lg-12">
    <p-autoComplete
      [(ngModel)]="generoSeleccionado"
      [suggestions]="arregloGeneros"
      (completeMethod)="filtrarGeneros($event)"
      [size]="25"
      [minLength]="1"
      placeholder="Seleccione el genero"
      [emptyMessage]="'No hay registros'"
      [dropdown]="true"
      (onSelect)="enviarGeneroSeleccionado($event)"
      (onClear)="limpiarBusqueda()"
      field="nombre">
      <ng-template let-genero pTemplate="item">
        {{genero.nombre}}
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-lg-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por genero'}}
    </small>
  </div>
</div>
