<div>
  <div class="example-container" *ngFor="let actoTour of actosSetlistTour">
    <br>
    <div class="row justify-content-center">
      <p><b>{{actoTour.nombre}}</b></p>
    </div>
    <div
      class="example-list">
      <div
        *ngFor="let cancionSetlist of actoTour.cancionesSetlistTour"
      >
        <div style="padding-top: 10px" class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <p>{{cancionSetlist.cancion.nombre}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
