<div class="row">
  <div
    class="col-md-12">
    <div class="row">
      <div class="col-sm-12 justify-content-end d-flex">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="" *ngIf="seEmpezoAEditar">
                <div
                  class="d-flex flex-row-reverse">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button
                      *ngIf="album"
                      (click)="cancelarEdicion()"
                      class="btn btn-secondary">
                      <i style="padding-right: 0%" class="fas fa-times">

                      </i>
                    </button>
                    <button
                      (click)="guardarCancionesAlbum()"
                      [disabled]="cancionesAlbumSeleccionadas.length === 0"
                      class="btn btn-primary">
                      <i style="padding-right: 0%" class="fas fa-upload"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="!seEmpezoAEditar">
                <button
                  (click)="mostrarComponentesEditar()"
                  class="btn btn-primary">
                  <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </div>
  <div class="row">
    <div class="col-sm-5" *ngIf="seEmpezoAEditar">
      <p-table
        #dt
        [rows]="5"
        [paginator]="true"
        [columns]="columnasCancionesDisponibles"
        [value]="cancionesDisponibleFiltradas"
        styleClass="ui-table-customers"
        [rowHover]="true"
        [responsive]="true"
      >
        <ng-template pTemplate="caption">
          Canciones disponibles
          <br>
          <div style="padding-top: 10px">
            <input
              class="input-res"
              type="text"
              pInputText
              placeholder="Busque por nombre"
              (input)="filtrarCancionesDisponibles($event.target.value)"
            >
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              [style.width]="col.width"
              class="text-center"
              *ngFor="let col of columns" pReorderableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No existen registros
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
          <tr>
            <td class="text-center" *ngFor="let col of columns">
              <div *ngIf="col.field==='informacion'">
                <div class="row">
                  <div class="col-sm-12 " align="left">
                    <p-card>
                      <div class="row">
                        <div class="col-sm-3">
                          <img
                            [src]="obtenerUrlPrincipal(rowData)"
                            style="display:inline-block;" width="120px">

                        </div>
                        <div class="col-sm-6">
                          <p>
                            <strong>
                              {{'Nombre: '}}
                            </strong>
                            <span>
                          {{rowData.nombre}}
                        </span>
                          </p>
                          <p>
                            <strong>
                              {{'Duración: '}}
                            </strong>
                            <span>
                          {{rowData.duracionSegundos | minutosHoras}}
                    </span>
                          </p>
                          <p>
                            <strong>
                              {{'Fecha lanzamiento: '}}
                            </strong>
                            <span>
                          {{rowData.fechaLanzamiento}}
                    </span>
                          </p>
                          <p>
                            <strong>
                              {{'Artista(s): '}}
                            </strong>
                            <span>
                            {{obtenerArtistas(rowData.artistasCancion)}}
                    </span>
                          </p>
                        </div>
                        <div class="col-sm-2">
                          <div
                            style="padding-top: 50%"
                            class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button
                              (click)="agregarCancionSeleccionada(rowData, rowData.id)"
                              class="btn btn-success">
                              <i style="padding-right: 0%" class="fas fa-arrow-right">
                              </i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </p-card>
                  </div>
                </div>

              </div>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div [ngClass]="seEmpezoAEditar ? 'col-sm-7' : 'col-sm-12'" >
      <p-table
        [columns]="columnasCancionesSeleccionadas"
        [value]="cancionesAlbumSeleccionadas"
        [reorderableColumns]="true"
        [responsive]="true"
        [sortField]="'posicion'"
      >
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix" style="text-align: center">
            Lista de Canciones
            <button
              *ngIf="seEmpezoAEditar"
              class="btn btn-success"
              (click)="abrirModalCrearEditarCancion()"
              style="float:right">
              <i style="padding-right: 0%;" class="fas fa-plus-circle">
              </i>
            </button>
          </div>

        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngIf="seEmpezoAEditar"
              [style.width]="5"></th>
            <th
              [style.width]="col.width"
              class="text-center"
              *ngFor="let col of columns" pReorderableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="seEmpezoAEditar ? columns.length + 1 : columns.length">
              No existen registros
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
          <tr [pReorderableRow]="index">
            <td *ngIf="seEmpezoAEditar">
              <i class="fas fa-arrows-alt-v" style="display: flex;justify-content: center;" pReorderableRowHandle></i>
            </td>
            <td class="text-center" *ngFor="let col of columns">
              <div
                *ngIf="col.field==='posicion'">
                {{index + 1}}
              </div>
              <div *ngIf="col.field==='nombre'">
                {{rowData.cancion.nombre}}
              </div>
              <div *ngIf="col.field==='artistas'">
                {{obtenerArtistas(rowData.cancion.artistasCancion)}}
              </div>
              <div *ngIf="col.field==='duracionSegundos'">
                {{rowData.cancion.duracionSegundos | minutosHoras}}
              </div>
              <div *ngIf="col.header==='Acciones'">
                <div
                  class="">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button
                      [disabled]="!seEmpezoAEditar"
                      (click)="quitarCancionSeleccionada(rowData, index)"
                      class="btn btn-danger">
                      <i style="padding-right: 0%" class="fas fa-arrow-left">
                      </i>
                    </button>
                    <button
                      [disabled]="!seEmpezoAEditar"
                      (click)="abrirModalCrearEditarCancion(rowData.cancion, index)"
                      class="btn btn-primary">
                      <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
                    </button>

                  </div>
                </div>
              </div>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>



