<div class="">
  <div class="row">
    <div
      class="col-md-12">
      <div class="row">
        <div class="col-sm-12 justify-content-start d-flex">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div
                  *ngIf="editar"
                  class="">
                  <div
                    class="d-flex flex-row-reverse">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <button
                        (click)="cancelar()"
                        [title]="'Cancelar'"

                        class="btn btn-secondary">
                        <i style="padding-right: 0%" class="fas fa-times">
                        </i>
                      </button>
                      <button
                        [title]="'Agregar Acto'"
                        (click)="abrirModalCrearEditarActo()"
                        class="btn btn-success">
                        <i style="padding-right: 0%" class="fas fa-plus-circle">
                        </i>
                      </button>
                      <button
                        (click)="guardarActosTour()"
                        class="btn btn-primary">
                        <i style="padding-right: 0%" class="fas fa-save">
                        </i>
                      </button>
                      <button
                        *ngIf="editarPosicionActos"
                        (click)="editarPosicionActos = false;"
                        class="btn btn-warning">
                        POSICIÓN ACTOS
                      </button>
                      <button
                        *ngIf="!editarPosicionActos"
                        (click)="editarPosicionActos = true;"
                        class="btn btn-warning">
                        POSICIÓN CANCIONES
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="!editar"
                  class="">
                  <button
                    (click)="editar = true;"
                    class="btn btn-primary">
                    <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="mostrarTablas"
    class="">
    <div
      *ngIf="editar"
      class="">
      <app-tabla-actos-setlist
        *ngIf="!editarPosicionActos"
        [tour]="tour"
        [setlistTour]="setlistTour"
        [actosSetlistTour]="actosSetlistTour"
        [cancionesSetlist]="cancionesSetlist"
        (eventoEditarActo)="abrirModalCrearEditarActo($event)"
        (eventoEliminarActo)="eliminarActo($event)"
        (eventoAgregarCancion)="abrirModaAgregarCancionActo($event)"
        (eventoEliminarCancion)="eliminarCancion($event)"
      ></app-tabla-actos-setlist>
      <app-tabla-editar-posicion-actos
        *ngIf="editarPosicionActos"
        [tour]="tour"
        [setlistTour]="setlistTour"
        [actosSetlistTour]="actosSetlistTour"
        [cancionesSetlist]="cancionesSetlist"
        (eventoEditar)="abrirModalCrearEditarActo($event)"
        (eventoEliminar)="eliminarActo($event)"
        (eventoEliminarCancion)="eliminarCancion($event)"
      ></app-tabla-editar-posicion-actos>
    </div>
    <app-tabla-actos-sin-editar
      *ngIf="!editar"
      [tour]="tour"
      [setlistTour]="setlistTour"
      [actosSetlistTour]="actosSetlistTour"
      [cancionesSetlist]="cancionesSetlist"
    ></app-tabla-actos-sin-editar>
  </div>

</div>
