<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="categoriaSeleccionada"
      [suggestions]="arregloCategorias"
      (completeMethod)="filtrarCategoria($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione la categoria"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarCategoriaSeleccionada($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarCategoria()"
      [multiple]="multiple"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-categoria pTemplate="item">
        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
          <div style="float:left;margin:10px 10px 0 0">{{categoria.nombre}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{ multiple ? "Selecione la categoria"  : 'Filtre por categoría'}}
    </small>
  </div>

</div>
