<form
  [formGroup]="formularioTour"
>
  <div class="row">
    <div class="col-sm-5">
      <app-input-imagen
        [ocultarInput]="this.formularioTour.disabled"
        [pathImagen]="cargarImagenTour()"
        [width]="width"
        [height]="'700'"
        (emitirImagen)="escucharEventoImagen($event)"
      ></app-input-imagen>
    </div>
    <div class="col-sm-7">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="tipo" class="p-col-fixed">Tipo *</label>
          <div class="p-col-12 p-md-12">
            <p-dropdown
              id = "tipo"
              [options]="tipos"
              [placeholder]="'Busque por tipo' "
              optionLabel="key"
              [showClear]="true"
              formControlName="tipo"
            ></p-dropdown>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tipo">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="esFestival"
          class="p-field p-grid">
          <label for="festival" class="p-col-fixed">Festival *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-festival
              id="festival"
              [deshabilitar]="this.formularioTour.disabled"
              [idFestival]="festival?.id"
              (emitirFestivalSeleccionado)="setearFestival($event)"
            ></app-autocomplete-festival>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.festival">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="artistas" class="p-col-fixed">Artistas *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-artista
              id="artistas"
              [deshabilitar]="this.formularioTour.disabled"
              [arregloidsArtista]="idsArtista"
              [multiple]="true"
              (emitirArtistaSeleccionado)="buscarTouresPorArtista($event)"
            ></app-autocomplete-artista>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.artistas">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del tour"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="fechaInicio" class="p-col-fixed">Fecha de Inicio*</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaInicio"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de inicio del tour"
              formControlName='fechaInicio'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaInicio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="lugarInicio" class="p-col-fixed">Lugar de Inicio *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="lugarInicio"
              pInputText
              type="text"
              formControlName="lugarInicio"
              placeholder="Ingrese el lugar de inicio del tour"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.lugarInicio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaFin" class="p-col-fixed">Fecha de Fin</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaFin"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de fin del tour"
              formControlName='fechaFin'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaFin">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>



        <div class="p-field p-grid">
          <label for="lugarFin" class="p-col-fixed">Lugar de Fin</label>
          <div class="p-col-12 p-md-12">
            <input
              id="lugarFin"
              pInputText
              type="text"
              formControlName="lugarFin"
              placeholder="Ingrese el lugar de fin del tour"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.lugarFin">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción </label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción del tour"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="observaciones" class="p-col-fixed">Observaciones </label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="observaciones"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="observaciones"
              placeholder="Ingrese las observaciones del tour"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.observaciones">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="sinopsis" class="p-col-fixed">Sinopsis</label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="sinopsis"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="sinopsis"
              placeholder="Ingrese la sinopsis del tour"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.sinopsis">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="cantidadShows" class="p-col-fixed">Cantidad de shows </label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="cantidadShows"
              [showButtons]="true"
              [min]="0"
              [step]="1"
              [useGrouping]="false"
              formControlName='cantidadShows'
              placeholder="Ingrese la cantidad de shows del tour"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cantidadShows">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="cantidadTickets" class="p-col-fixed">Cantidad de tickets</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="cantidadTickets"
              [showButtons]="true"
              [min]="0"
              [step]="1"
              [useGrouping]="false"
              formControlName='cantidadTickets'
              placeholder="Ingrese la cantidad de tickets del tour"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cantidadTickets">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="recaudacion" class="p-col-fixed">Recaudación</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="recaudacion"
              [showButtons]="true"
              [min]="0"
              formControlName='recaudacion'
              placeholder="Ingrese la recaudacion del tour"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.recaudacion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


      </div>
    </div>
  </div>
</form>
