<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="recordSeleccionado"
      [suggestions]="arregloRecords"
      (completeMethod)="filtrarRecords($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el record"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarRecordSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      field="nombre">
      <ng-template let-record pTemplate="item">
        {{record.nombre}}
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por record'}}
    </small>
  </div>

</div>
