<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="videoSeleccionado"
      [suggestions]="arregloVideos"
      (completeMethod)="filtrarVideos($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione el video"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarVideoSeleccionado($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      (onUnselect)="deseleccionarVideo()"
      [multiple]="multiple"
      [disabled]="deshabilitar"
      field="nombre">
      <ng-template let-video pTemplate="item">
          <div>{{video.nombre}}</div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{ 'Filtre por video'}}
    </small>
  </div>

</div>
