<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ (objeto ? ('CHARTS DE ' + objeto.nombre) : 'GESTIÓN DE CHARTS' )| uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-9">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre . EJ: billboard hot 100'"
      [ayuda]="'Busque una canción por su nombre o año de lanzamiento'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
  <div class="col-sm-3">
    <app-boton-nuevo
      *ngIf="!idArtistaParams"
      (emitirEvento)="abrirModalCrearEditarChart()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">
  <div class="col-sm-3">
    <app-autocomplete-plataforma
      [verSoloTipoChart]="true"
      [idsPlataformasAsignadas]="idPlataforma ? [idPlataforma] : []"
      (emitirPlataformaSeleccionada)="buscarChartsPorPlataforma($event)"
    ></app-autocomplete-plataforma>
  </div>
  <div class="col-sm-3">
    <app-autocomplete-lugar
      [idsLugarAsignado]="idLugar"
      [tiposAFiltrar]="['global', 'pais']"
      (emitirLugarSeleccionado)="buscarChartsPorLugar($event)"
    ></app-autocomplete-lugar>
  </div>
  <div class="col-sm-2" >
    <app-select-tipo-chart
      [tipoChartSeleccionado]="tipoChart"
      [tipo]="tipo"
      (emitirTipoChartSleccionado)="buscarChartPorTipo($event)"
    ></app-select-tipo-chart>
  </div>
</div>

<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [rows]="15"
      [paginator]="true"
      [columns]="columnasCharts"
      [value]="charts"
      styleClass="ui-table-customers"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon
              *ngIf="col.header === 'Nombre' || col.header === 'Tipo'"
              [field]="col.field"
            >
            </p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field==='nombre'">
              {{rowData.nombre}}
            </div>
            <div *ngIf="col.field==='tipo'">
              {{rowData.tipo}}
            </div>
            <div *ngIf="col.field==='plataforma'">
              <img
                [src]="obtenerUrlPrincipal(rowData.plataforma, 'imagenesPlataforma')"
                style="display:inline-block;" width="20px">
              {{rowData.plataforma.nombre}}
            </div>
            <div *ngIf="col.field==='lugar'">
              <img
                [src]="obtenerUrlPrincipal(rowData.lugar, 'imagenesLugar')"
                style="display:inline-block;" width="20px">
              {{rowData.lugar.nombre}}
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                *ngIf="!idArtistaParams && !idObjParam"
                (click)="abrirModalCrearEditarChart(rowData, index)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
              <button
                *ngIf="idArtistaParams || idObjParam"
                (click)="irListaCharts(rowData.id)"
               class="btn btn-primary btn-block">
                <i style="padding-right: 0%" class="fas fa-clipboard-list">
                  VER CHART
                </i>
              </button>
              <button
                *ngIf="idArtistaParams || idObjParam"
                (click)="verUnidades(rowData.id)"
                class="btn btn-primary btn-block">
                <i style="padding-right: 0%" class="fas fa-clipboard-list">
                  VER UNIDADES
                </i>
              </button>
              <button
                *ngIf="idArtistaParams || idObjParam"
                (click)="verCertificados(rowData.id)"
                class="btn btn-primary btn-block">
                <i style="padding-right: 0%" class="fas fa-clipboard-list">
                  VER CERTIFICACIONES
                </i>
              </button>
              <button
                *ngIf="idArtistaParams || idObjParam"
                (click)="verRecords(rowData.id)"
                class="btn btn-primary btn-block">
                <i style="padding-right: 0%" class="fas fa-clipboard-list">
                  VER RECORDS
                </i>
              </button>
              <button
                *ngIf="idArtistaParams || idObjParam"
                (click)="verPosocionesChart(rowData.id)"
                class="btn btn-primary btn-block">
                <i style="padding-right: 0%" class="fas fa-clipboard-list">
                  VER POSICIONES
                </i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

