<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
    [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        GESTIÓN DE ARTISTAS
      </h1>
    </div>
  </div>

</div>
<hr>
<br>
<div class="row">
  <div class="col-sm-4">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre del artista. Ejemplo: Lady Gaga'"
      [ayuda]="'Busque un artista por su nombre'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
  <div class="col-sm-3">
    <app-autcomplete-generos
      [idGenero]="idGenero"
      (emitirGenroSeleccionado)="buscarArtistasPorGenero($event)"
    ></app-autcomplete-generos>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-2">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearArtista()"
    ></app-boton-nuevo>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
      <div *ngIf="artistas.length > 0"
           class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let artista of artistas">
          <app-menu-item-redondo
            [texto]="artista.nombre"
            [descripcion]="''"
            [imagen]="obtenerUrlPrincipal(artista)"
            [url]="obtenerRuta(artista.id)"
          ></app-menu-item-redondo>
        </div>
      </div>
  </div>
</div>
