<form
  [formGroup]="formularioCancionActo"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="artistas" class="p-col-fixed">Artistas *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-artista
              id="artistas"
              [multiple]="true"
              [arregloidsArtista]="idsArtistas"
              (emitirArtistaSeleccionado)="buscarAlbumesPorArtista($event)"
            ></app-autocomplete-artista>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.artista">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [idsArtistas]="idsArtistas"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre de la canción / interludio"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
