<div class="row">
  <div class="col-sm-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button
          #btn
          type="button"
          pButton icon="pi pi-home"
          (click)="irARuta()"
        ></button>
      </div>
    </p-toolbar>
  </div>
</div>

