<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    'SELECCIONAR GANADORES'
    }}</span>

</h3>
<hr>
<div mat-dialog-content>
  <div class="">
    <span><b>{{'Categoria: '}}</b>{{this.data.nominacion.categoria.nombre}}</span>
    <hr>
    <p-pickList
      [source]="nominacionesNoGana"
      [target]="nominacionesGana"
      sourceHeader="Nominados" targetHeader="Ganadores" [dragdrop]="true"
      [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}">
      <ng-template let-nominacion pTemplate="item">

        <div class="">
          {{nominacion[this.data.nominacion.categoria.tipo.toLowerCase()].nombre}}
        </div>
      </ng-template>
    </p-pickList>

  </div>
</div>
<br>
<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-4">
        <app-boton-guardar
          [deshabilitarBoton]="!nominacionesGana.length"
          (emitirEvento)="editarGanadores()">
        </app-boton-guardar>
      </div>
      <div class="p-4">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
