<form
  [formGroup]="formularioEnlace"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="plataforma" class="p-col-fixed">Plataforma: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-plataforma
              [plataformaSeleccionada]="enlace?.plataforma"
              [idsPlataformasAsignadas]="idsPlataformas"
              id="plataforma"
              (emitirPlataformaSeleccionada)="escucharPlataformaSeleccionada($event)"
            ></app-autocomplete-plataforma>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.plataforma">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="url" class="p-col-fixed">Url: *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="url"
              pInputText
              formControlName="url"
              placeholder="Ingrese el url del enlace"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.url">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="seguidores" class="p-col-fixed">Seguidores:</label>
          <div class="p-col-12 p-md-12">
            <input
              type="number"
              pInputText
              id="seguidores"
              [min]="0"
              [step]="1"
              formControlName='seguidores'
              placeholder="Ingrese la cantidad de seguidores"
            >
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.seguidores">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
