<form
  [formGroup]="formularioChart"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del album"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="tipo" class="p-col-fixed">Tipo *</label>
          <div class="p-col-12 p-md-12">
            <app-select-tipo-chart
              id="tipo"
              (emitirTipoChartSleccionado)="escucharTipoSeleccionada($event)"
              [tipoChartSeleccionado]="chart?.tipo"
            ></app-select-tipo-chart>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tipo">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="plataforma" class="p-col-fixed">Plataforma: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-plataforma
              [plataformaSeleccionada]="chart?.plataforma"
              [idsPlataformasAsignadas]="idsPlataforma"
              [verSoloTipoChart]="true"
              id="plataforma"
              (emitirPlataformaSeleccionada)="escucharPlataformaSeleccionada($event)"
            ></app-autocomplete-plataforma>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.plataforma">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="lugar" class="p-col-fixed">Lugar: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-lugar
              [tiposAFiltrar]="['global', 'pais']"
              [lugarSeleccionado]="chart?.lugar"
              [idsLugarAsignado]="chart?.lugar.id"
              id="lugar"
              (emitirLugarSeleccionado)="escucharLugarSeleccionado($event)"
            ></app-autocomplete-lugar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.plataforma">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción </label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción del album"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
