<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          *ngIf="premio"
          style="width:80px"
          [src]="obtenerUrlPrincipal()">
        {{  (this.premio?.nombre + ' - ' + this.premioAnio?.anio) | uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <mat-horizontal-stepper
      [linear]="true"
      #stepper>
      <mat-step
      *ngIf="esPremio"
      >
        <ng-template matStepLabel>Nominaciones</ng-template>
        <app-seccion-nominaciones
        [idPremio]="idPremio"
        [idPremioAnio]="idPremioAnio"
        ></app-seccion-nominaciones>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Presentaciones</ng-template>
        <app-seccion-presentaciones
          [idPremioAnio]="idPremioAnio"
        ></app-seccion-presentaciones>
      </mat-step>
      <ng-template matStepperIcon="edit">
        <mat-icon>insert_emoticon</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="number">
        <mat-icon>library_music</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
  <div class="col-sm-1"></div>
</div>
