<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        <span>{{ ('Presentaciones: ' + setearObj()) | uppercase}}</span>
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row" style="padding-left: 2%; padding-right: 2%">
  <div >
    <app-autocomplete-premio
      [idPremio]="idPremio"
      (emitirPremioSeleccionado)="buscarPresentacionesPorPremio($event)"
    ></app-autocomplete-premio>
  </div>
  <div
    *ngIf="idPremio">
    <div class="col-sm-12">
      <app-autocomplete-premio-anio
        [multiple]="false"
        [idPremio]="idPremio"
        [idPremioAnio]="idPremioAnio"
        (emitirPremioAnioSeleccionada)="buscarPresentacionesPorPremioAnio($event)"
      ></app-autocomplete-premio-anio>
    </div>
  </div>
  <div class="col-sm-2">
    <app-boton-nuevo
      (click)="abrirModalCrearEditarPresentacion()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [columns]="columnas"
      [value]="presentaciones"
      styleClass="ui-table-customers"
      [responsive]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr>
          <td *ngIf="rowGroupMetadataPremio[rowData.premioAnio?.premio?.id]?.index === index"
              [attr.rowspan]="rowGroupMetadataPremio[rowData.premioAnio?.premio?.id]?.size">
            {{rowData.premioAnio?.premio?.nombre}}
          </td>
          <td *ngIf="rowGroupMetadataPremioAnio[rowData.premioAnio?.id]?.index === index"
              [attr.rowspan]="rowGroupMetadataPremioAnio[rowData.premioAnio?.id]?.size">
            {{rowData.premioAnio?.anio}}
          </td>
          <td>
            <li *ngFor="let preArt of rowData.presentacionesArtista">
              {{preArt.artista?.nombre}}
            </li>
          </td>
          <td>
              <li *ngFor="let preArt of rowData.presentacionesCancion">
                {{preArt.nombreCancion}}
              </li>
          </td>
          <td>
            <button
              (click)="abrirModalCrearEditarPresentacion(rowData)"
              class="btn btn-primary">
              <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
