<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row center">
      <div class="col-sm-12">
        <h3 class="text-center">
          {{
          album ? 'EDITAR ALBUM' : 'CREAR ALBUM'
          }}
        </h3>
      </div>
    </div>
  </div>
  <hr>


  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <mat-horizontal-stepper
        [linear]="true"
        #stepper>
        <mat-step
          [completed]="album">
          <ng-template matStepLabel>Información del album</ng-template>
          <div
            class="col-md-12">
            <div class="row">
              <div class="col-sm-12 justify-content-end d-flex">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="" *ngIf="!(componenteFormularioAlbum?.formularioAlbum?.disabled)">
                        <div
                          class="d-flex flex-row-reverse">
                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button
                              *ngIf="album"
                              (click)="cancelarCreacionEdicion()"
                              class="btn btn-secondary">
                              <i style="padding-right: 0%" class="fas fa-times">

                              </i>
                            </button>
                            <button
                              [disabled]="!formularioValido"
                              (click)="crearEditarArtista(stepper)"
                              class="btn btn-primary">
                              <i style="padding-right: 0%" class="fas fa-upload"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="" *ngIf="componenteFormularioAlbum?.formularioAlbum?.disabled">
                        <button
                          (click)="habilitarFormularioEditarAlbum()"
                          class="btn btn-primary">
                          <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="!(componenteFormularioAlbum?.formularioAlbum?.disabled)"
            class="col-md-12">
            <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*). '}}</p>
          </div>
          <div class="col-sm-12">
            <app-formulario-album
              *ngIf="album"
              [idArtista]="idArtista"
              [idsArtista]="idsArtista"
              [width]="70"
              [album]="album"
              (artistaValidoEnviar)="validarFormulario($event)"
            >
            </app-formulario-album>
            <app-formulario-album
              *ngIf="!album"
              [idArtista]="idArtista"
              [idsArtista]="idsArtista"
              [width]="70"
              (artistaValidoEnviar)="validarFormulario($event)"
            >
            </app-formulario-album>
          </div>
          <hr>
          <div class="col-sm-12">

            <div class="row">
              <app-carousel-opciones
                [opciones]="opcionesAlbum"
                (emitirEvento)="irAGestion($event)"
              ></app-carousel-opciones>
            </div>

          </div>
        </mat-step>
        <mat-step
          [completed]="album"
        >
          <ng-template matStepLabel>Lista de canciones</ng-template>
          <div class="row">
            <div class="col-sm-12">
              <app-drag-drop-canciones
                *ngIf="idsArtista && idsArtista.length && album"
                [album]="album"
                [idArtista]="idArtista"
                [idsArtista]="idsArtista"
                [cancionesAlbumSeleccionadas]="cancionesAlbum"
              ></app-drag-drop-canciones>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Enlace</ng-template>
          <div class="col-sm-12 justify-content-end d-flex">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="" *ngIf="mostrarInputEnlace">
                    <div
                      class="d-flex flex-row-reverse">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button
                          (click)="cambiarValorMostrarInputEnlace()"
                          class="btn btn-secondary">
                          <i style="padding-right: 0%" class="fas fa-times">
                          </i>
                        </button>
                        <button
                          (click)="guardarEnlace()"
                          class="btn btn-primary">
                          <i style="padding-right: 0%" class="fas fa-upload"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="" *ngIf="!mostrarInputEnlace">
                    <button
                      class="btn btn-primary"
                      (click)="cambiarValorMostrarInputEnlace()">
                      <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="">
            <iframe
              *ngIf="album && album.enlacesAlbum && album.enlacesAlbum.length && !mostrarInputEnlace"
              [src]='obtenerEnlace() | safe'
              style="width: 100%; height: 800px"
              allowtransparency="true"
              allow="encrypted-media">
            </iframe>
            <input
              *ngIf="!album || mostrarInputEnlace"
              id="enlace"
              [(ngModel)]="inputEnlace"
              pInputText
              style="width: 100%;"
              type="text"
              placeholder="Ingrese el enlace del album"/>
          </div>

        </mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>insert_emoticon</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number">
          <mat-icon>library_music</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>insert_emoticon</mat-icon>
        </ng-template>

      </mat-horizontal-stepper>
    </div>
    <div class="col-sm-1"></div>
  </div>


</div>
