<form
  [formGroup]="formularioArtista"
>
  <div class="row">
    <div class="col-sm-5">
      <app-input-imagen
        [ocultarInput]="this.formularioArtista.disabled"
        [pathImagen]="cargarImagenArtista()"
        [width]="width"
        (emitirImagen)="escucharEventoImagen($event)"
      ></app-input-imagen>
    </div>
    <div class="col-sm-7">
      <div class="ui-fluid">
        <div class="p-field p-grid">
          <label for="nombre" class="p-col-fixed">Nombre *</label>
          <div class="p-col-12 p-md-12">
            <input
              id="nombre"
              pInputText
              type="text"
              formControlName="nombre"
              placeholder="Ingrese el nombre del artista"/>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.nombre">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaNacimiento" class="p-col-fixed">Fecha de nacimiento *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaNacimiento"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha de nacimiento"
              formControlName='fechaNacimiento'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaNacimiento">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="anioDebut" class="p-col-fixed">Debút *</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="anioDebut"
              [showButtons]="true"
              [min]="1950"
              [step]="1"
              [useGrouping]="false"
              formControlName='anioDebut'
              placeholder="Ingrese el año debut del artista"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.anioDebut">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="descripcion" class="p-col-fixed">Descripción *</label>
          <div class="p-col-12 p-md-12">
            <textarea
              id="descripcion"
              [rows]="5"
              [cols]="30"
              pInputTextarea
              formControlName="descripcion"
              placeholder="Ingrese la descripción del artista"
            ></textarea>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.descripcion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="generos" class="p-col-fixed">Géneros *</label>
          <div class="p-col-12 p-md-12">
            <p-multiSelect
              id="generos"
              formControlName="generos"
              [maxSelectedLabels]="arregloGeneros.length"
              [options]="arregloGeneros"
              [optionLabel]="'nombre'"
              [panelStyle]="{minWidth:'12em'}"
              [defaultLabel]="'Seleccione los géneros del artista'"
            ></p-multiSelect>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.generos">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Plataformas y redes sociales
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-sm-12" *ngIf="!(formularioArtista?.disabled)">
        <div class="row">
          <div class="col-sm-11"></div>
          <div class="col-sm-1 justify-content-end d-flex">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="">
                    <button
                      (click)="abrirModalCrearEditarEnlace()"
                      class="btn btn-success"
                    >
                      <i style="padding-right: 1%" class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <p-carousel
          [value]="enlacesArtista"
          [numVisible]="8"
          [circular]="false"
        >
          <ng-template let-opcion pTemplate="item">
            <div
              *ngIf="!formularioArtista.disabled"
              class="btn-group btn-group-toggle" data-toggle="buttons">
              <button
                (click)="quitarEnlaceSeleccionado(opcion)"
                class="btn btn-danger">
                <i style="padding-right: 0%" class="fas fa-trash">
                </i>
              </button>
              <button
                (click)="abrirModalCrearEditarEnlace(opcion)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>

            </div>
            <div class="justify-content-center">
              <div class="p-col-12">
                <a
                  target="_blank"
                  [href]="opcion.url">
                  <img
                    class="img"
                    [style.width.%]="40"
                    style="max-width: 100%; height: auto;"
                    [src]="obtenerUrlPrincipal(opcion.plataforma)"/>
                </a>
              </div>

            </div>
          </ng-template>
        </p-carousel>
      </div>

    </div>

  </mat-expansion-panel>
</mat-accordion>

