<p-carousel
  [value]="opciones"
  [numVisible]="5"
  [numScroll]="3"
  [circular]="false"
>
  <ng-template let-opcion pTemplate="item">
    <div class="">
      <div class="p-col-12" (click)="irAGestion(opcion.texto)">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" >
          <div class="row">
              <h4 class="text-center">{{opcion.texto}}</h4>
          </div>
          <img
            class="img"
            style="max-width: 100%; height: 100px; width: 100px"
            [src]="opcion.imagen"/>
        </div>
        <div class="col-sm-1"></div>

      </div>
    </div>
  </ng-template>
</p-carousel>
