<form
  *ngIf="formularioNominacion"
  [formGroup]="formularioNominacion"
>
  <div class="row">
    <div class="col-sm-12">
      <div class="ui-fluid">

        <div
          *ngIf="mostrarPremio"
          class="p-field p-grid">
          <label for="premio" class="p-col-fixed">Premio *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-premio
              [esPremio]="1"
              [idPremio]="idPremio"
              [deshabilitar]="this.formularioNominacion.disabled"
              id="premio"
              (emitirPremioSeleccionado)="setearPremio($event)"
            ></app-autocomplete-premio>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.premio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div
          *ngIf="mostrarPremio"
          class="p-field p-grid">
          <label for="premioAnio" class="p-col-fixed">Año *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-premio-anio
              [idPremio]="idPremio"
              [idPremioAnio]="idPremioAnio"
              [deshabilitar]="this.formularioNominacion.disabled"
              id="premioAnio"
              [multiple]="false"
              (emitirPremioAnioSeleccionada)="setearPremioAnio($event)"
            ></app-autocomplete-premio-anio>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.premioAnio">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="categoria" class="p-col-fixed">Categoria *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-categoria
              [idPremio]="idPremio"
              [idCategoria]="idCategoria"
              [deshabilitar]="this.formularioNominacion.disabled"
              id="categoria"
              [multiple]="false"
              [tipo]="tipos"
              (emitirCategoriaSeleccionada)="setearCategoria($event, true)"
            ></app-autocomplete-categoria>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.categoria">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="artista" class="p-col-fixed">Artista(s) *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-artista
              [deshabilitar]="this.formularioNominacion.disabled"
              id="artista"
              [arregloidsArtista]="idsArtista"
              [multiple]="true"
              (emitirArtistaSeleccionado)="buscarCancionesPorArtista($event)"
            ></app-autocomplete-artista>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.artista">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipoCategoria === 'Album'"
          class="p-field p-grid">
          <label for="album" class="p-col-fixed">Album(s)</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [idsArtistas]="obtenerIdsArtistasSeleccionados()"
              [arregloidsAlbum]="idsAlbums"
              id="album"
              [multiple]="true"
              (emitirAlbumSeleccionado)="setearAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.album">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipoCategoria === 'Cancion'"
          class="p-field p-grid">
          <label for="album" class="p-col-fixed">Canciones(s)</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [idsArtistas]="obtenerIdsArtistasSeleccionados()"
              [arregloidsCancion]="idsCanciones"
              id='cancion'
              [multiple]="true"
              (emitirCancionSeleccionado)="setearCanciones($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipoCategoria === 'Video'"
          class="p-field p-grid">
          <label for="album" class="p-col-fixed">Videos(s)</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-video
              [idsArtistas]="obtenerIdsArtistasSeleccionados()"
              [arregloidsVideo]="idsVideos"
              [multiple]="true"
              id="video"
              (emitirVideoSeleccionado)="setearVideos($event)"
            ></app-autocomplete-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.video">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipoCategoria === 'Tour'"
          class="p-field p-grid">
          <label for="album" class="p-col-fixed">Tour(s) *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-tour
              [idsArtistas]="obtenerIdsArtistasSeleccionados()"
              [multiple]="true"
              [arregloidsTour]="idsTours"
              id="tour"
              (emitirTourSeleccionado)="setearTours($event)"
            ></app-autocomplete-tour>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.tour">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
