<div class="row">
  <div class="col-sm-12">
    <p-autoComplete
      [(ngModel)]="medidaSeleccionada"
      [suggestions]="arregloMedidas"
      (completeMethod)="filtrarMedidas($event)"
      [size]="25"
      [minLength]="1"
      [placeholder]='"Seleccione la medida"'
      [emptyMessage]="'No hay registros'"
      (onSelect)="enviarMedidaSeleccionada($event)"
      [dropdown]="true"
      (onClear)="limpiarBusqueda()"
      field="nombre">
      <ng-template let-medida pTemplate="item">
        {{medida.nombre}}
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="col-sm-12">
    <small
      id="busquedaRolHelp"
      class="form-text text-muted ayuda-span">
      {{'Filtre por medida'}}
    </small>
  </div>

</div>
