<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    (data?.categoria ? 'EDITAR' : 'REGISTRAR') + ' CATEGORÍA'
    }}</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
          <div class="col-sm-12">
            <app-formulario-categoria
              [width]="70"
              [categoria]="data?.categoria"
              (categoriaValidoEnviar)="validarFormulario($event)"
            >
            </app-formulario-categoria>
          </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<br>
<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-4">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioCategoriaValido"
          (emitirEvento)="crearEditarCategoria()">
        </app-boton-guardar>
      </div>
      <div class="p-4">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
