<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">
    {{
    data.video ? 'EDITAR VIDEO' : 'REGISTRAR VIDEO'
    }}</span>
</h3>
<hr>

<app-formulario-video
  [video]="data.video"
  [idsArtistas]="data.idArtista ? [data.idArtista] : []"
  (videoValidoEnviar)="validarFormularioVideo($event)">
</app-formulario-video>

<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-3">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioValido"
          (emitirEvento)="crearEditarVideo()">
        </app-boton-guardar>
      </div>
      <div class="p-3">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
