<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ 'CERTIFICADOS - ' + (objeto?.nombre + ' - ' + chart?.nombre) | uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-6">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre . EJ: Bad romance'"
      [ayuda]="'Busque una canción por su nombre'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
  <div class="col-sm-3">
    <app-autocomplete-certificado
      *ngIf="idCertificado"
      [idChart]="idChart"
      [idsCertificadosAsignados]="[idCertificado]"
      (emitirCertificadoSeleccionado)="buscarCertifcadosChartPorCertificado($event)"
    ></app-autocomplete-certificado>
    <app-autocomplete-certificado
      *ngIf="!idCertificado"
      [idChart]="idChart"
      [idsCertificadosAsignados]="[]"
      (emitirCertificadoSeleccionado)="buscarCertifcadosChartPorCertificado($event)"
    ></app-autocomplete-certificado>
  </div>
  <div class="col-sm-3">
    <app-boton-nuevo
      (emitirEvento)="abrirModalCrearEditarCertificadoChart()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">

</div>

<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-table
      #dt
      [columns]="columnas"
      [value]="certificadosChart"
      styleClass="ui-table-customers"
      [responsive]="true"
      [sortField]="'fechaActualizacion'"
      dataKey="id"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 2%"></th>
          <th
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            class="text-center"
            *ngFor="let col of columns">
            {{col.header}}
            <p-sortIcon
              *ngIf="col.header === 'Nombre' || col.header === 'Fecha Actualización' || col.header === 'Unidades'"
              [field]="col.field"
            >
            </p-sortIcon>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 1">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-expanded="expanded"
        let-columns="columns"
        let-index="rowIndex">
        <tr>
          <td>
            <a href="#" [pRowToggler]="rowData">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
          </td>
          <td class="text-center" *ngFor="let col of columns">
            <div *ngIf="col.field==='nombre'">
              <img
                *ngIf="tipo === 'cancion' || tipo === 'album'"
                [src]="obtenerUrlPrincipal(rowData[tipo])"
                style="display:inline-block;" width="120px">
              <div class="">
                {{rowData[tipo].nombre}}
              </div>
            </div>
            <div *ngIf="col.field==='fechaActualizacion'">
              {{rowData[col.field] ? rowData[col.field] : '-'}}
            </div>
            <div *ngIf="col.field==='unidades'">
              {{(setearUnidades(rowData).cantidad * setearUnidades(rowData).certificado.unidades | number) + ' ' + setearUnidades(rowData).certificado.medida.nombre}}
            </div>
            <div *ngIf="col.field === 'acciones'">
              <button
                (click)="abrirModalCrearEditarCertificadoChart(rowData, index)"
                class="btn btn-primary">
                <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">

        <tr>
          <td [attr.colspan]="columns.length + 1">
            <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
              <app-tabla-certificados-chart-fecha
                [certificadosChartFecha]="rowData.certificadosChartFecha"
              ></app-tabla-certificados-chart-fecha>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

