<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ (artista ? ('TOURS DE ' + artista.nombre) : 'GESTIÓN DE TOURS  FESTIVAlES' )| uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-9">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre del album. Ejemplo: Chromatica ó 2013'"
      [ayuda]="'Busque un album por su nombre o año de lanzamiento'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>

  <div class="col-sm-3">
    <app-boton-nuevo
      (click)="irRutaCrearTour()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">
  <div [ngClass]="!idArtistaParams ? 'col-sm-3' : ''" >
    <app-autocomplete-artista
      *ngIf="!idArtistaParams"
      [idArtista]="idArtista"
      [multiple]="false"
      (emitirArtistaSeleccionado)="buscarToursPorArtista($event)"
    ></app-autocomplete-artista>
  </div>
  <div [ngClass]="!idArtistaParams ? 'col-sm-3' : ''" >
      <div class="col-sm-12">
        <p-dropdown
          [options]="opcionesTipoTour"
          [(ngModel)]="tipoTourSeleccionado"
          [placeholder]="'Busque por tipo' "
          optionLabel="key"
          (onChange)="buscarTourPorTipo($event.value.value)"
          [showClear]="true"
        ></p-dropdown>
      </div>
    <div class="col-sm-12">
      <small
        id="busquedaRolHelp"
        class="form-text text-muted ayuda-span">
        Filtre el tipo de tour
      </small>
    </div>
  </div>
</div>




<br>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="tours.length > 0"
         class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let tour of tours">
        <app-menu-item-cuadrado
          [height]="'700px'"
          [texto]="tour.nombre"
          [descripcion]="''"
          [imagen]="obtenerUrlPrincipal(tour)"
          [url]="obtenerRuta(tour.id)"
        ></app-menu-item-cuadrado>
      </div>
    </div>
  </div>
</div>
