<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>

<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ 'GESTIÓN DE LUGARES'}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-9">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre . EJ: Ecuador'"
      [ayuda]="'Busque un lugar por su nombre'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>
<!--  <div class="col-sm-3">-->
<!--    <app-boton-nuevo-->
<!--      (emitirEvento)="abrirModalCrearEditarLugar()"-->
<!--    ></app-boton-nuevo>-->
<!--  </div>-->
</div>

<br>
<div class="row">
  <div class="col sm 12" style="padding-left: 2%; padding-right: 2%">
    <p-treeTable
      [value]="lugaresTreeTable"
      [columns]="columnas"
      (onNodeExpand)="expandirNodo($event)"
    >
      <ng-template
        pTemplate="header"
        let-columns>
        <tr
          class="text-center">
          <th *ngFor="let col of columns" [style.width]="col.width">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns">
        <tr
        >
          <td *ngFor="let col of columnas; let i = index">
            <div *ngIf="col.header==='Acciones'">
              <div
                class="justify-content-center">
                <div
                  class="btn-group btn-group-toggle" data-toggle="buttons">
                  <button
                    *ngIf="!(rowData.tipo === 'global' || rowData.tipo === 'ciudad')"
                    (click)="abrirModalCrearEditarLugar(rowNode)"
                    class="btn btn-success">
                    <i style="padding-right: 0%" class="fas fa-plus">
                    </i>
                  </button>
                  <button
                    (click)="abrirModalCrearEditarLugar(rowNode, rowData)"
                    class="btn btn-primary">
                    <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
                  </button>

                </div>
              </div>
            </div>
            <div *ngIf="col.header === 'Nombre'">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.nombre}}
              <img
                [src]="obtenerUrlPrincipal(rowData, 'imagenesLugar')"
                style="display:inline-block;" width="20px">
            </div>
            <div *ngIf="col.header === 'Tipo'">
              {{rowData.tipo}}
            </div>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            [attr.colspan]="columnas.length">
            {{
            'Sin registros'
            }}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>

