<h3
  mat-dialog-title
  class="text-center"
>
  <span class="bold">{{data.chartPosicion ? 'Editar' : 'Registrar'}} {{data.tipo}} en el chart</span>
</h3>
<hr>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios.'}}</p>
    </div>
    <div class="col-sm-12">
      <app-formulario-chart-posicion
        [idsCancionesAlbumesVideos] = data.idsCancionesAlbumesVideos
        [idArtista]="data.idArtista"
        [tipo]="data.tipo"
        [chartPosicion]="data.chartPosicion"
        [idObjeto]="data.idObjeto"
        [tipoObjeto]="data.tipoObjeto"
        (chartPosicionValidoEnviar)="validarFormulario($event)"
      ></app-formulario-chart-posicion>
    </div>
  </div>
</div>

<mat-dialog-actions class="justify-content-end">
  <div class="row">
    <div class="d-flex flex-row-reverse">
      <div class="p-3">
        <app-boton-guardar
          [deshabilitarBoton]="!formularioValido"
          (emitirEvento)="crearEditarChartPosicion()">
        </app-boton-guardar>
      </div>
      <div class="p-3">
        <app-boton-cancelar
          (emitirEvento)="cerrarModal()"
        ></app-boton-cancelar>
      </div>
    </div>
  </div>
</mat-dialog-actions>
