<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let opcionMenu of arregloItemsMenuInicio">
      <app-item-menu
        [texto]="opcionMenu.texto"
        [descripcion]="opcionMenu.descripcion"
        [url]="opcionMenu.url"
        [imagen]="opcionMenu.imagen"
      ></app-item-menu>
  </div>
</div>
