<div class="row">
  <div
    class="col-md-12">
    <div class="row">
      <div class="col-sm-12 justify-content-end d-flex">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="">
                <button
                  class="btn btn-success"
                  (click)="abrirModalCrearEditarSetlist()"
                  style="float:right">
                  <i style="padding-right: 0%;" class="fas fa-plus-circle">
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <p-table
        #dt
        [rows]="10"
        [paginator]="true"
        [columns]="columnasSetlits"
        [value]="setlists"
        styleClass="ui-table-customers"
        [rowHover]="true"
        [responsive]="true"
        [sortField]="'fechaInicio'"
        dataKey="id"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3%"></th>
            <th
              [style.width]="col.width"
              class="text-center"
              *ngFor="let col of columns" pReorderableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No existen registros
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-expanded="expanded">
          <tr [pReorderableRow]="index">
            <td>
              <a href="#" [pRowToggler]="rowData">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </td>
            <td class="text-center" *ngFor="let col of columns">
              <div *ngIf="col.field==='numero'">
                {{
                index + 1
                }}
              </div>
              <div *ngIf="col.field==='nombre'">
                {{
                rowData.nombre
                }}
              </div>
              <div *ngIf="col.field==='fechaInicio'">
                {{
                rowData.fechaInicio
                }}
              </div>
              <div *ngIf="col.field==='fechaFin'">
                {{
                rowData.fechaFin
                }}
              </div>
              <div *ngIf="col.field==='acciones'">
                <div
                  class="">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button
                      (click)="abrirModalCrearEditarSetlist(rowData, index)"
                      class="btn btn-primary">
                      <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
                    </button>

                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">

          <tr>
            <td [attr.colspan]="columns.length + 1">
              <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                <app-seccion-setlist
                  [tour]="tour"
                  [setlistTour]="rowData"
                ></app-seccion-setlist>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
