<div class="row">
  <div
    class="col-md-12">
    <div class="row">
      <div class="col-sm-12 justify-content-end d-flex">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="">
                <button
                  class="btn btn-success"
                  (click)="abrirModalCrearEditarTourLugar()"
                  style="float:right">
                  <i style="padding-right: 0%;" class="fas fa-plus-circle">
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <p-table
        #dt
        [rows]="5"
        [paginator]="true"
        [columns]="columnasTourLugaresSeleccionadas"
        [value]="tourLugaresSeleccionadas"
        styleClass="ui-table-customers"
        [rowHover]="true"
        [responsive]="true"
        [sortField]="'fecha'"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              [style.width]="col.width"
              class="text-center"
              *ngFor="let col of columns" pReorderableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No existen registros
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
          <tr [pReorderableRow]="index">
            <td>
              {{
              index + 1
              }}
            </td>
            <td *ngIf="rowGroupMetadataAnio[rowData.anio]?.index === index"
                [attr.rowspan]="rowGroupMetadataAnio[rowData.anio]?.size">
              {{
              rowData.anio
              }}
            </td>
            <td>
              {{
              rowData.fecha
              }}
            </td>
            <td *ngIf="rowGroupMetadataCiudad[rowData.lugar?.id]?.index === index"
                [attr.rowspan]="rowGroupMetadataCiudad[rowData.lugar?.id]?.size">
              {{
              rowData.lugar?.nombre
              }}
            </td>
            <td *ngIf="rowGroupMetadataPais[rowData.lugar?.lugarPadre?.id]?.index === index"
                [attr.rowspan]="rowGroupMetadataPais[rowData.lugar?.lugarPadre?.id]?.size">
              {{
              rowData.lugar?.lugarPadre?.nombre
              }}
            </td>
            <td *ngIf="rowGroupMetadataLugar[rowData.locacion]?.index === index"
                [attr.rowspan]="rowGroupMetadataLugar[rowData.locacion]?.size">
              {{
              rowData.locacion
              }}
            </td>
            <td>
              {{
              rowData.recaudacion | currency
              }}
            </td>
            <td>
              {{
              rowData.ticketsVendidos + ' / ' + rowData.ticketsDisponibles + ' - ' + ((rowData.porcentaje / 100) | percent)
              }}
            </td>
            <td>
              <div
                class="">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <button
                    (click)="quitarTourLugar(rowData, index)"
                    class="btn btn-danger">
                    <i style="padding-right: 0%" class="fas fa-trash-alt">
                    </i>
                  </button>
                  <button
                    (click)="abrirModalCrearEditarTourLugar(rowData, index)"
                    class="btn btn-primary">
                    <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
                  </button>

                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>



