<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row center">
      <div class="col-sm-12">
        <h3 class="text-center">
          {{
          tour ? 'EDITAR TOUR' : 'CREAR TOUR'
          }}
        </h3>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <mat-horizontal-stepper
        [linear]="true"
        #stepper>
        <mat-step
          [completed]="tour">
          <ng-template matStepLabel>Información del tour</ng-template>
          <div
            class="col-md-12">
            <div class="row">
              <div class="col-sm-12 justify-content-end d-flex">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="" *ngIf="!(componenteFormularioTour?.formularioTour?.disabled)">
                        <div
                          class="d-flex flex-row-reverse">
                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <button
                              *ngIf="tour"
                              (click)="cancelarCreacionEdicion()"
                              class="btn btn-secondary">
                              <i style="padding-right: 0%" class="fas fa-times">

                              </i>
                            </button>
                            <button
                              [disabled]="!formularioValido"
                              (click)="crearEditarArtista(stepper)"
                              class="btn btn-primary">
                              <i style="padding-right: 0%" class="fas fa-upload"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="" *ngIf="componenteFormularioTour?.formularioTour?.disabled">
                        <button
                          (click)="habilitarFormularioEditarTour()"
                          class="btn btn-primary">
                          <i style="padding-right: 1%" class="fas fa-pencil-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="!(componenteFormularioTour?.formularioTour?.disabled)"
            class="col-md-12">
            <p class="descripcion-modal">{{'Llene todos los campos que son obligatorios (*). '}}</p>
          </div>
          <div class="col-sm-12">
            <app-formulario-tour
              *ngIf="tour"
              [idArtista]="idArtista"
              [idsArtista]="idsArtista"
              [width]="70"
              [tour]="tour"
              (tourValidoEnviar)="validarFormulario($event)"
            >
            </app-formulario-tour>
            <app-formulario-tour
              *ngIf="!tour"
              [idArtista]="idArtista"
              [idsArtista]="idsArtista"
              [width]="70"
              (tourValidoEnviar)="validarFormulario($event)"
            >
            </app-formulario-tour>
          </div>
          <hr>
          <div class="col-sm-12">
            <app-carousel-opciones
              [opciones]="opcionesTour"
              (emitirEvento)="irAGestion($event)"
            ></app-carousel-opciones>
          </div>

        </mat-step>
        <mat-step
          [completed]="tour"
        >
          <ng-template matStepLabel>Fechas y Ciudades</ng-template>
          <div class="row">
            <div class="col-sm-12">
              <app-tabla-tour-lugar
                *ngIf="tour?.lugaresTour"
                [tour]="tour"
                [tourLugaresSeleccionadas]="tour?.lugaresTour"
              ></app-tabla-tour-lugar>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Setlists</ng-template>
          <app-tabla-setlits-tour
            *ngIf="tour"
            [tour]="tour"
          ></app-tabla-setlits-tour>
        </mat-step>
        <ng-template matStepperIcon="edit">
          <mat-icon>insert_emoticon</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number">
          <mat-icon>library_music</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>insert_emoticon</mat-icon>
        </ng-template>

      </mat-horizontal-stepper>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br>
</div>

