<div class="row">
  <div class="col-sm-12">
    <app-migas-pan
      [arregloRutas]="arregloRutas">
    </app-migas-pan>
  </div>
</div>
<br>
<div class="container">
  <div class="row center">
    <div class="col-sm-12">
      <h1 class="text-center">
        <img
          style="width:40px"
          [src]="rutaImagen">
        {{ (artista ? ('ALBUMES DE ' + artista.nombre) : 'GESTIÓN DE ALBUMES' )| uppercase}}
      </h1>
    </div>
  </div>

</div>
<hr>
<br>

<div class="row">
  <div class="col-sm-9">
    <app-input-buscar-boton
      [busqueda]="busqueda"
      [placeholder]="'Ingrese el nombre del album. Ejemplo: Chromatica ó 2013'"
      [ayuda]="'Busque un album por su nombre o año de lanzamiento'"
      (emitirBusqueda)="escucharBusqueda($event)">

    </app-input-buscar-boton>
  </div>

  <div class="col-sm-3">
    <app-boton-nuevo
      (click)="irRutaCrearAlbum()"
    ></app-boton-nuevo>
  </div>
</div>

<br>

<div class="row" style="padding-left: 1%; padding-right: 1%">
  <div class="col-sm-3">
    <app-autcomplete-generos
      [idGenero]="idGenero"
      (emitirGenroSeleccionado)="buscarAlbumesPorGenero($event)"
    ></app-autcomplete-generos>
  </div>
  <div [ngClass]="!idArtistaParams ? 'col-sm-3' : ''" >
    <app-autocomplete-artista
      *ngIf="!idArtistaParams"
      [idArtista]="idArtista"
      [multiple]="false"
      (emitirArtistaSeleccionado)="buscarAlbumesPorArtista($event)"
    ></app-autocomplete-artista>
  </div>
  <div class="col-sm-3" >
    <app-autocomplete-tipo-album
      [idTipoAlbum]="idTipoAlbum"
      (emitirTipoAlbumSeleccionado)="buscarAlbumPorTipo($event)"
    ></app-autocomplete-tipo-album>
  </div>

</div>

<br>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="albumes.length > 0"
         class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let album of albumes">
        <app-menu-item-cuadrado
          [texto]="album.nombre"
          [descripcion]="''"
          [imagen]="obtenerUrlPrincipal(album)"
          [url]="obtenerRuta(album.id)"
        ></app-menu-item-cuadrado>
      </div>
    </div>
  </div>
</div>
