<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6 justify-content-start d-flex">
        <p>Certificados</p>
      </div>
      <div class="col-sm-6 justify-content-end d-flex">
        <button
          *ngIf="verBotones"
          (click)="abrirModalCrearEditarCertificadoChartFecha()"
          class="btn btn-success">
          <i style="padding-right: 0%" class="fas fa-plus">
          </i>
        </button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [width]="'20%'"> Cantidad </th>
      <td mat-cell *matCellDef="let row" class="text-center"> {{row?.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="certificado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [width]="'40%'"> Certificado </th>
      <td mat-cell *matCellDef="let row"> {{row?.certificado?.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [width]="'15%'"> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row?.fecha}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [width]="'15%'"> Acciones </th>
      <td mat-cell *matCellDef="let row; let indice = index">
        <button
          (click)="quitarCertificadoChartFecha(indice)"
          class="btn btn-danger">
          <i style="padding-right: 0%" class="fas fa-times-circle">
          </i>
        </button>
        <button
          (click)="abrirModalCrearEditarCertificadoChartFecha(row, indice)"
          class="btn btn-primary">
          <i style="padding-right: 0%" class="fas fa-pencil-alt"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No existen registros</td>
    </tr>
  </table>

</div>
