<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item">
      <a [routerLink]="['']" routerLinkActive="active">Inicio</a>
    </li>
    <li  *ngFor="let objetoRuta of arregloRutas; let i = index"
         class="breadcrumb-item"
         aria-current="false">
      <a
        [routerLink]="objetoRuta.ruta" routerLinkActive="active"
        *ngIf="i !== (arregloRutas.length - 1)"
        href="#">{{objetoRuta.nombre}}</a>
      {{ (i === (arregloRutas.length - 1)) ? objetoRuta.nombre : '' }}
    </li>
  </ol>
</nav>
