<form
  [formGroup]="formularioRecordChart"
>
  <div class="row">
    <div
      class="col-sm-12">
      <div class="ui-fluid">
        <div
          *ngIf="tipo === 'cancion'"
          class="p-field p-grid">
          <label for="cancion" class="p-col-fixed">Cancion *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-cancion
              [arregloidsCancionesSeleccionadas]="idsCancionesAlbumesVideos"
              [idCancion]="recordChart ? recordChart.cancion.id : null"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id='cancion'
              (emitirCancionSeleccionado)="setearCancion($event)"
            ></app-autocomplete-cancion>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cancion">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'album'"
          class="p-field p-grid">
          <label for="albums" class="p-col-fixed">Album</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-albums
              [arregloIdsAlbumsSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="albums"
              [idAlbum]="recordChart ? recordChart.album.id : null"
              (emitirAlbumSeleccionado)="setearAlbum($event)"
            ></app-autocomplete-albums>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.album">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div
          *ngIf="tipo === 'video'"
          class="p-field p-grid">
          <label for="video" class="p-col-fixed">Video:</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-video
              [arregloIdsVideosSeleccionados]="idsCancionesAlbumesVideos"
              [idsArtistas]="idArtista ? [idArtista] : []"
              id="video"
              [idVideo]="recordChart ? recordChart.video.id : null"
              (emitirVideoSeleccionado)="setearVideo($event)"
            ></app-autocomplete-video>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.video">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="record" class="p-col-fixed">Record: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-record
              [recordSeleccionado]="recordChart?.record"
              [idsRecordsAsignados]="recordChart ? [recordChart.record.id] : []"
              [idChart]="idChart"
              id="record"
              (emitirRecordSeleccionado)="setearRecord($event)"
            ></app-autocomplete-record>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.record">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="fechaRecord" class="p-col-fixed">Fecha *</label>
          <div class="p-col-12 p-md-12">
            <p-calendar
              id="fechaRecord"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [locale]="configuracionCalendario"
              yearRange="1920:2021"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              dataType="string"
              placeholder="Ingrese fecha del record"
              formControlName='fechaRecord'
            ></p-calendar>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.fechaRecord">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="cantidadMedida" class="p-col-fixed">Cantidad *</label>
          <div class="p-col-12 p-md-12">
            <p-inputNumber
              id="cantidadMedida"
              [step]="1"
              mode="decimal"
              [useGrouping]="true"
              [min]="0"
              formControlName='cantidadMedida'
              placeholder="Ingrese la cantidad del record"
            >
            </p-inputNumber>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.cantidadMedida">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>


        <div class="p-field p-grid">
          <label for="medida" class="p-col-fixed">Medida: *</label>
          <div class="p-col-12 p-md-12">
            <app-autocomplete-medida
              [medidaSeleccionada]="recordChart?.medida"
              [idsMedidasAsignadas]="recordChart ? [recordChart.medida.id] : []"
              id="medida"
              (emitirMedidaSeleccionada)="setearMedida($event)"
            ></app-autocomplete-medida>
          </div>
          <div class="p-col-12 p-md-12">
            <app-alerta-validacion-campo-formulario
              [mensajesError]="mensajesError.medida">
            </app-alerta-validacion-campo-formulario>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
