<div cdkDropListGroup>
  <div class="example-container" *ngFor="let actoTour of actosSetlistTour; let i = index">
    <br>
    <div class="row justify-content-center">
      <p><b>{{actoTour?.nombre}}</b></p>
    </div>
    <div class="row" style="padding-bottom: 10px">
      <div class="col-sm-12 justify-content-end">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button
            class="btn btn-sm btn-primary"
            [title]="'Editar Acto'"
            (click)="editar(actoTour)"
            style="float:right">
            <i style="padding-right: 0%;" class="fas fa-pen">
            </i>
          </button>
          <button
            class="btn btn-sm btn-danger"
            [title]="'Eliminar Acto'"
            (click)="eliminar(i)"
            style="float:right">
            <i style="padding-right: 0%;" class="fas fa-trash">
            </i>
          </button>
          <button
            class="btn btn-sm btn-success"
            (click)="agregarCancion(actoTour)"
            [title]="'Agregar canción'"
            style="float:right">
            <i style="padding-right: 0%;" class="fas fa-plus-circle">
            </i>
          </button>
        </div>
      </div>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="actoTour.cancionesSetlistTour"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div
        *ngFor="let cancionSetlist of actoTour.cancionesSetlistTour; let i2 = index"
        cdkDrag
      >
        <div style="padding-top: 10px" class="col-sm-12">
          <div class="row">
            <div class="col-sm-8">
              <p>{{cancionSetlist?.cancion?.nombre}}
              </p>
            </div>
            <div class="col-sm-4 justify-content-end">
              <button
                class="btn btn-sm btn-danger"
                [title]="'Eliminar Canción'"
                (click)="eliminarCancion(i, i2)"
                style="float:right">
                <i style="padding-right: 0%;" class="fas fa-trash">
                </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
