<div cdkDropListGroup>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    <div  class="example-container" *ngFor="let actoTour of actosSetlistTour; let i = index" cdkDrag>
      <br>
      <div class="row justify-content-center">
        <p><b>{{actoTour.nombre}}</b></p>
      </div>
      <div class="row" style="padding-bottom: 10px">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button
            class="btn btn-sm btn-primary"
            [title]="'Editar Acto'"
            (click)="editar(actoTour)"
            style="float:right">
            <i style="padding-right: 0%;" class="fas fa-pen">
            </i>
          </button>
          <button
            class="btn btn-sm btn-danger"
            [title]="'Eliminar Acto'"
            (click)="eliminar(i)"
            style="float:right">
            <i style="padding-right: 0%;" class="fas fa-trash">
            </i>
          </button>
          <button
            class="btn btn-sm btn-success"
            [title]="'Agregar canción'"
            style="float:right">
            <i style="padding-right: 0%;" class="fas fa-plus-circle">
            </i>
          </button>
        </div>
      </div>
      <div
        class="example-list-2"
      >
        <div
          *ngFor="let cancionSetlist of actoTour.cancionesSetlistTour; let i2 = index"
        >
          <div style="padding-top: 10px" class="col-sm-12">
            <div class="row">
              <div class="col-sm-8">
                <p>{{cancionSetlist.cancion.nombre}}
                </p>
              </div>
              <div class="col-sm-4 justify-content-end">
                <button
                  class="btn btn-sm btn-danger"
                  (click)="eliminarCancion(i, i2)"
                  [title]="'Eliminar Canción'"
                  style="float:right">
                  <i style="padding-right: 0%;" class="fas fa-trash">
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

